@model IEnumerable<OlaWakeel.Models.Appointment>

@{
    ViewData["Title"] = "IndexDashboard";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="jquery.circleGraphic.js"></script>

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-cash icon-gradient bg-mean-fruit"></i>
            </div>
            <div>
                Apppointment
            </div>
        </div>
    </div>
</div>

<!--First rows-->
<div class="row">
    <div class="col-sm-12 col-lg-4">
        <div class="mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Appointments</div>
            </div>
            <div class="p-0 d-block card-footer">
                <div class="grid-menu grid-menu-2col">
                    @*<form asp-controller="Appointments" asp-action="Index" method="post">*@
                    <div class="no-gutters row">
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-success asp-controller="Appointments" asp-action="TotalNewAppointment" type="button">
                                <a href="~/Appointments/TotalNewAppointment">  <i class="lnr-menu text-success opacity-7 btn-icon-wrapper mb-2"> </i>Total New Appointments</a>
                            </button>

                            <!--<a href="~/Appointments/TotalNewAppointment" >-->
                            @*<i class="lnr-menu text-success opacity-10 btn-icon-wrapper mb-2></i>*@
                            <!--<i class="lnr-menu text-success opacity-10 btn-icon-wrapper mb-2">Total New Appointment</i>
                            </a>-->
                            @*<input type="submit" value="button" />
                                <a href='@Url.Action("TotalNewAppointment", "Appointments")></a>*@

                        </div>
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-warning asp-controller="Appointments" asp-action="TotalNewAppointment">
                                <a href="/Appointments/CustomerWithAppoint">
                                    <i class="lnr-hourglass text-warning opacity-7 btn-icon-wrapper mb-2"> </i>Customers
                                </a>
                            </button>
                        </div>
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-info asp-controller="Appointments" asp-action="Track">
                                <a href="~/Appointments/TrackAppointment">
                                    <i class="lnr-book text-info opacity-7 btn-icon-wrapper mb-2"> </i>Track Appointment
                                </a>
                            </button>


                            @*<a href="~/Appointments/Track" class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-success>
                                    <i class="lnr-menu text-success opacity-7 btn-icon-wrapper mb-2">Track Appointment</i>
                                </a>*@
                        </div>
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-alternate">
                                <a href="/Appointments/CustomerWithoutAppoint">
                                    <i class="lnr-gift text-alternate opacity-7 btn-icon-wrapper mb-2"> </i>Not an appointment yet!
                                </a>
                            </button>
                        </div>
                    </div>
                    @*</form>*@
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-lg-4">
        <div class="mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Confirm Appointments!</div>
            </div>
            <div class="p-0 d-block card-footer">
                <div class="grid-menu grid-menu-2col">
                    <div class="no-gutters row">
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-success asp-controller="Appointments" asp-action="TotalNewAppointment" type="button">
                                <a href="/Appointments/TodayConfirmAppointments">  <i class="lnr-menu text-success opacity-7 btn-icon-wrapper mb-2"> </i>Today</a>
                            </button>

                        </div>
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-warning asp-controller="Appointments" asp-action="TotalNewAppointment">
                                <a href="/Appointments/WeeklyConfirmAppointments">
                                    <i class="lnr-hourglass text-warning opacity-7 btn-icon-wrapper mb-2"> </i>Weekly
                                </a>
                            </button>
                        </div>
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-info asp-controller="Appointments" asp-action="Track">
                                <a href="/Appointments/MonthlyConfirmAppointments">
                                    <i class="lnr-book text-info opacity-7 btn-icon-wrapper mb-2"> </i>Monthly
                                </a>
                            </button>
                        </div>
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-alternate">
                                <a href="/Appointments/YearlyConfirmAppointments">
                                    <i class="lnr-gift text-alternate opacity-7 btn-icon-wrapper mb-2"> </i>Yearly
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-12 col-lg-4">
        <div class="mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Rescheduled Appointments!</div>
            </div>
            <div class="p-0 d-block card-footer">
                <div class="grid-menu grid-menu-2col">
                    <div class="no-gutters row">
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-success asp-controller="Appointments" asp-action="TotalNewAppointment" type="button">
                                <a href="/Appointments/TodayPending">  <i class="lnr-menu text-success opacity-7 btn-icon-wrapper mb-2"> </i>Today</a>
                            </button>

                        </div>
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-warning asp-controller="Appointments" asp-action="TotalNewAppointment">
                                <a href="/Appointments/WeeklyPending">
                                    <i class="lnr-hourglass text-warning opacity-7 btn-icon-wrapper mb-2"> </i>Weekly
                                </a>
                            </button>
                        </div>
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-info asp-controller="Appointments" asp-action="Track">
                                <a href="/Appointments/MonthlyPending">
                                    <i class="lnr-book text-info opacity-7 btn-icon-wrapper mb-2"> </i>Monthly
                                </a>
                            </button>
                        </div>
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-alternate">
                                <a href="/Appointments/YearlyPending">
                                    <i class="lnr-gift text-alternate opacity-7 btn-icon-wrapper mb-2"> </i>Yearly
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--First rows end-->
<div class="row">
    <div class="col-sm-12 col-lg-4">
        <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-primary card">
            <div class="widget-chat-wrapper-outer">
                <div class="widget-chart-content">
                    <div class="widget-title opacity-10 text-uppercase">
                        <a href="~/Appointments/Pending">
                            <i class="widget-title opacity-10 text-uppercase">Pending Appointment</i>
                        </a>
                    </div>
                    <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                        <div class="widget-chart-flex align-items-center">
                            <div>
                                <small class="opacity-10 text-primary pr-2 pending">+</small>
                                @if (Model != null)
                                {
                                   <span> @Model.Where(a=>a.AppoinmentStatus == "Pending").Count() </span>
                                }
                                

                                <small class="opacity-5 pl-1">..</small>
                            </div>
                            <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                <div class="circle-progress circle-progress-gradient-alt-sm d-inline-block">
                                    <small>

                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-4">

        <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-warning border-warning card">
            <div class="widget-chat-wrapper-outer">
                <div class="widget-chart-content">
                    <div class="widget-title opacity-10 text-uppercase">
                        <a href="~/Appointments/Cancel">
                            <i class="widget-title opacity-10 text-uppercase text-warning">Completed Appointments</i>
                        </a>
                    </div>
                    @*<div class="widget-title opacity-5 text-uppercase">Company Value</div>*@
                    <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                        <div class="widget-chart-flex align-items-center">
                            <div>
                                <small class="opacity-5 text-warning pr-1">+</small>
                                @if (Model != null)
                                {
                                    <span> @Model.Where(a => a.AppoinmentStatus == "Reschedule").Count() </span>
                                }
                                <small class="opacity-5 pl-1">..</small>
                            </div>
                            @*<div>
                                    <small class="opacity-5 pr-1">$</small>
                                    1,45M
                                </div>*@
                            <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                <div class="circle-progress circle-progress-warning-sm d-inline-block">
                                    <small></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-12 col-lg-4">
        <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-danger border-danger card">
            <div class="widget-chat-wrapper-outer">
                <div class="widget-chart-content">
                    <div class="widget-title opacity-10 text-uppercase">
                        <a href="~/Appointments/Cancel">
                            <i class="widget-title opacity-10 text-uppercase text-danger">Cancel Appointments</i>
                        </a>
                    </div>
                    <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                        <div class="widget-chart-flex align-items-center">
                            <div>
                                <small class="opacity-10 text-danger pr-2">+</small>

                                @if (Model != null)
                                {
                                    <span> @Model.Where(a => a.AppoinmentStatus == "Cancel").Count() </span>
                                }
                                <small class="opacity-5 pl-1">..</small>
                            </div>

                            @*<div>
                                    <span class="opacity-10 text-danger pr-2">
                                        <i class="fa fa-angle-down"></i>
                                    </span>
                                    71
                                    <small class="opacity-5 pl-1">..</small>
                                </div>*@
                            <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                <div class="circle-progress circle-progress-danger-sm d-inline-block">
                                    <small></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--Second rows End Final-->

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-primary card">
            <div class="widget-chat-wrapper-outer">
                <div class="widget-chart-content">
                    <div class="widget-title opacity-10 text-uppercase">
                        <a href="~/Appointments/Create">
                            <i class="widget-title opacity-10 text-uppercase">Make New Appointment</i>
                        </a>
                    </div>
                    <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                        <div class="widget-chart-flex align-items-center">
                            <div>
                                <small class="opacity-10 text-primary pr-2">+</small>
                                34
                                <small class="opacity-5 pl-1">..</small>
                            </div>
                            @*<div>
                                    <span class="opacity-10 text-success pr-2">
                                        <i class="fa fa-angle-up"></i>
                                    </span>
                                    234
                                    <small class="opacity-5 pl-1">%</small>
                                </div>*@
                            <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                <div class="circle-progress circle-progress-gradient-alt-sm d-inline-block">
                                    <small></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-danger border-danger card">
            <div class="widget-chat-wrapper-outer">
                <div class="widget-chart-content">
                    <div class="widget-title opacity-10 text-uppercase">
                        <a href="~/Appointments/Active">
                            <i class="widget-title opacity-10 text-uppercase text-danger">Cancel Appointments</i>
                        </a>
                    </div>
                    <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                        <div class="widget-chart-flex align-items-center">
                            <div>
                                <small class="opacity-10 text-danger pr-2">+</small>
                                74
                                <small class="opacity-5 pl-1">..</small>
                            </div>

                            @*<div>
                                    <span class="opacity-10 text-danger pr-2">
                                        <i class="fa fa-angle-down"></i>
                                    </span>
                                    71
                                    <small class="opacity-5 pl-1">..</small>
                                </div>*@
                            <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                <div class="circle-progress circle-progress-danger-sm d-inline-block">
                                    <small></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-success border-success card">
            <div class="widget-chat-wrapper-outer">
                <div class="widget-chart-content">
                    <a href="~/Appointments/Active">
                        <i class="widget-title opacity-10 text-uppercase text-success">Today Appointments</i>
                    </a>
                    @*<div class="widget-title opacity-10 text-uppercase text-success">New Employees</div>*@
                    <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                        <div class="widget-chart-flex align-items-center">
                            <div>
                                <small class="text-success pr-1">+</small>
                                34
                                <small class="opacity-5 pl-1">..</small>
                            </div>
                            <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                <div class="circle-progress circle-progress-success-sm d-inline-block">
                                    @*<canvas width="57" height="57" style="height: 46px; width: 46px;"></canvas>*@
                                    <small>

                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-warning border-warning card">
            <div class="widget-chat-wrapper-outer">
                <div class="widget-chart-content">
                    <div class="widget-title opacity-10 text-uppercase">
                        <a href="~/Appointments/Active">
                            <i class="widget-title opacity-10 text-uppercase text-warning">Weekly Appointments</i>
                        </a>
                    </div>
                    @*<div class="widget-title opacity-5 text-uppercase">Company Value</div>*@
                    <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                        <div class="widget-chart-flex align-items-center">
                            <div>
                                <small class="opacity-5 text-warning pr-1">+</small>
                                34
                                <small class="opacity-5 pl-1">..</small>
                            </div>
                            @*<div>
                                    <small class="opacity-5 pr-1">$</small>
                                    1,45M
                                </div>*@
                            <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                <div class="circle-progress circle-progress-warning-sm d-inline-block">
                                    <small></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Second rows-->
<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-primary card">
            <div class="widget-chat-wrapper-outer">
                <div class="widget-chart-content">
                    <div class="widget-title opacity-10 text-uppercase">
                        <a href="~/Appointments/Create">
                            <i class="widget-title opacity-10 text-uppercase">Pending Appointment</i>
                        </a>
                    </div>
                    <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                        <div class="widget-chart-flex align-items-center">
                            <div>
                                <small class="opacity-10 text-primary pr-2">+</small>
                                34
                                <small class="opacity-5 pl-1">..</small>
                            </div>
                            @*<div>
                                    <span class="opacity-10 text-success pr-2">
                                        <i class="fa fa-angle-up"></i>
                                    </span>
                                    234
                                    <small class="opacity-5 pl-1">%</small>
                                </div>*@
                            <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                <div class="circle-progress circle-progress-gradient-alt-sm d-inline-block">
                                    <small></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-danger border-danger card">
            <div class="widget-chat-wrapper-outer">
                <div class="widget-chart-content">
                    <div class="widget-title opacity-10 text-uppercase">
                        <a href="~/Appointments/Active">
                            <i class="widget-title opacity-10 text-uppercase text-danger">Cancel Appointments</i>
                        </a>
                    </div>
                    <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                        <div class="widget-chart-flex align-items-center">
                            <div>
                                <small class="opacity-10 text-danger pr-2">+</small>
                                74
                                <small class="opacity-5 pl-1">..</small>
                            </div>

                            @*<div>
                                    <span class="opacity-10 text-danger pr-2">
                                        <i class="fa fa-angle-down"></i>
                                    </span>
                                    71
                                    <small class="opacity-5 pl-1">..</small>
                                </div>*@
                            <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                <div class="circle-progress circle-progress-danger-sm d-inline-block">
                                    <small></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-warning  card">
            <div class="widget-chat-wrapper-outer">
                <div class="widget-chart-content">
                    <div class="widget-title opacity-10 text-uppercase">
                        <a href="~/Appointments/Active">
                            <i class="widget-title opacity-10 text-uppercase text-warning">Completed Appointments</i>
                        </a>
                    </div>
                    @*<div class="widget-title opacity-5 text-uppercase">Company Value</div>*@
                    <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                        <div class="widget-chart-flex align-items-center">
                            <div>
                                <small class="opacity-5 text-warning pr-1">+</small>
                                34
                                <small class="opacity-5 pl-1">..</small>
                            </div>
                            @*<div>
                                    <small class="opacity-5 pr-1">$</small>
                                    1,45M
                                </div>*@
                            <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                <div class="circle-progress circle-progress-warning-sm d-inline-block">
                                    <small></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-success border-success card">
            <div class="widget-chat-wrapper-outer">
                <div class="widget-chart-content">
                    <a href="~/Appointments/Active">
                        <i class="widget-title opacity-10 text-uppercase text-success">Rescheduled Appointments</i>
                    </a>
                    @*<div class="widget-title opacity-10 text-uppercase text-success">New Employees</div>*@
                    <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                        <div class="widget-chart-flex align-items-center">
                            <div>
                                <small class="text-success pr-1">+</small>
                                34
                                <small class="opacity-5 pl-1">..</small>
                            </div>
                            <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                <div class="circle-progress circle-progress-success-sm d-inline-block">
                                    @*<canvas width="57" height="57" style="height: 46px; width: 46px;"></canvas>*@
                                    <small></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Third rows-->






<div class="tabs-animation">
    <div class="row">
        <div class="col-lg-12 col-xl-3">
            <div class="main-card mb-3 card">
                <div class="grid-menu grid-menu-2col">
                    <div class="no-gutters row">
                        <!--New Appointment-->
                        <div class="col-sm-12">
                            <div class="widget-chart widget-chart-hover">
                                <a href="~/Appointments/Create">

                                    <br />
                                    <div class="icon-wrapper rounded-circle">
                                        <br />
                                        <div class="icon-wrapper-bg bg-primary"></div>
                                        <i class="fa fa-fw" aria-hidden="true" title="Copy to use address-card"></i>
                                        @*<i class="lnr-laptop text-primary"></i>*@
                                    </div>

                                    @*<div class="font-icon-wrapper">
                                            <i class="fa fa-fw" aria-hidden="true" title="Copy to use address-card"></i>
                                        </div>*@


                                    <div class="widget-title opacity-10 text-uppercase">
                                        <br />
                                        <i class="metismenu-icon"></i> New Appointment

                                    </div>

                                    <div class="widget-numbers align-items-center text-center mt-2 fsize-4 mb-0 w-100">
                                        <div class="widget-chart-flex ">
                                            <div class="align-items-center " style=" margin-left: 29%; ">

                                                <small class="opacity-5 text-dark pr-1 ">+</small>
                                                54
                                                <small class="opacity-5 pl-1"></small>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Approved Appointment Demo's -->

        <div class="col-lg-12 col-xl-3">
            <div class="main-card mb-3 card">
                <div class="grid-menu grid-menu-2col">
                    <div class="no-gutters row">
                        <div class="col-sm-12">
                            <div class="widget-chart widget-chart-hover">
                                <a href="~/Appointments/Active">

                                    <br />
                                    <div class="icon-wrapper rounded-circle">
                                        <br />
                                        <div class="icon-wrapper-bg bg-primary"></div>
                                        <i class="fa fa-gavel icon-gradient bg-happy-fisher"></i>
                                    </div>
                                    @*<div class="font-icon-wrapper font-icon-lg">
                                            <i class="fa fa-gavel icon-gradient bg-happy-fisher"> </i>
                                        </div>*@
                                    @*<div class="icon-wrapper rounded-circle">
                                            <i class=" fa fa-gavel icon-gradient bg-happy-fisher"> </i>
                                        </div>*@


                                    <div class="widget-title opacity-10 text-uppercase">
                                        <br />
                                        <i class="metismenu-icon pr-1"></i> Approved Appointment

                                    </div>
                                    @*<br /><br />*@
                                    <div class="widget-numbers align-items-center text-center mt-2 fsize-4 mb-0 w-100">
                                        <div class="widget-chart-flex ">
                                            <div class="align-items-center " style=" margin-left: 29%; ">

                                                <small class="opacity-5 text-warning pr-1 ">+</small>
                                                34
                                                <small class="opacity-5 pl-1"></small>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-xl-3">
            <div class="main-card mb-3 card">
                <div class="grid-menu grid-menu-2col">
                    <div class="no-gutters row">
                        <!--New Appointment-->
                        <div class="col-sm-12">
                            <div class="widget-chart widget-chart-hover">
                                <a href="~/Appointments/Pending">

                                    <br />
                                    <div class="icon-wrapper rounded-circle">
                                        <br />
                                        <div class="icon-wrapper-bg bg-danger"></div>
                                        <i class="lnr-hourglass icon-gradient bg-love-kiss"></i>
                                    </div>
                                    <div class="widget-title opacity-10 text-uppercase">
                                        <br />
                                        <i class="metismenu-icon bg-danger"></i> Pending Appointment

                                    </div>
                                    <div class="widget-numbers align-items-center text-center mt-2 fsize-4 mb-0 w-100">
                                        <div class="widget-chart-flex ">
                                            <div class="align-items-center " style=" margin-left: 29%; ">

                                                <small class="opacity-5 text-danger pr-1 ">+</small>
                                                55
                                                <small class="opacity-5 pl-1"></small>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-12 col-xl-3">
            <div class="main-card mb-3 card">
                <div class="grid-menu grid-menu-2col">
                    <div class="no-gutters row">
                        <!--New Appointment-->
                        <div class="col-sm-12">
                            <div class="widget-chart widget-chart-hover">
                                <a href="~/Appointments/Rescheduled">

                                    <br />
                                    <div class="icon-wrapper rounded-circle">
                                        <br />
                                        <div class="icon-wrapper-bg bg-arielle-smile"></div>
                                        <i class="lnr-cog icon-gradient bg-tempting-azure"></i>
                                    </div>
                                    <div class="widget-title opacity-10 text-uppercase">
                                        <br />
                                        <i class="metismenu-icon"></i>Rescheduled Appointment

                                    </div>
                                    <div class="widget-description text-success">
                                        <span class="pl-1"> </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>








<div class="tabs-animation">
    <div class="row">
        <div class="col-lg-12 col-xl-3">
            <div class="main-card mb-3 card">
                <div class="grid-menu grid-menu-2col">
                    <div class="no-gutters row">
                        <!--New Appointment-->
                        <div class="col-sm-12">
                            <div class="widget-chart widget-chart-hover ">
                                <br />
                                <div class="icon-wrapper rounded-circle">
                                    <br />
                                    <div class="icon-wrapper-bg bg-primary"></div>
                                    <i class="lnr-laptop text-primary"></i>
                                </div>
                                <div class="widget-title opacity-10 text-uppercase">
                                    <a href="~/Appointments/Create">
                                        <br />
                                        <i class="metismenu-icon"></i> Completed
                                    </a>
                                </div>
                                <div class="widget-description text-success">
                                    <span class="pl-1"> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<form asp-controller="Appointments" asp-action="Create" method="post">*@

        <div class="col-lg-12 col-xl-3">
            <div class="main-card mb-3 card">
                <div class="grid-menu grid-menu-2col">
                    <div class="no-gutters row">
                        <!--New Appointment-->
                        <div class="col-sm-12">
                            <div class="widget-chart widget-chart-hover">
                                <br />
                                <div class="icon-wrapper rounded-circle">
                                    <br />
                                    <div class="icon-wrapper-bg bg-primary"></div>
                                    <i class="lnr-laptop text-primary"></i>
                                </div>
                                <div class="widget-title opacity-10 text-uppercase">

                                    @*<span>
                                            <button href="~/Appointments/Create" class="mb-2 mr-2 btn btn-shadow btn-link ">Create</button>
                                        </span>*@
                                    <a href="~/Appointments/Create">
                                        <br />
                                        <i class="metismenu-icon"></i> Cancel
                                    </a>
                                    @*<br />
                                        <form asp-controller="Appointments" asp-action="Create" method="post">

                                         <button class="mb-2 mr-2 btn btn-shadow btn-success">Create</button>
                                            </form>*@
                                </div>
                                <div class="widget-description text-success">
                                    <span class="pl-1"> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*</form>*@
        <div class="col-lg-12 col-xl-3">
            <div class="main-card mb-3 card">
                <div class="grid-menu grid-menu-2col">
                    <div class="no-gutters row">
                        <!--Active Appointment-->
                        <div class="col-sm-12">
                            <div class="widget-chart widget-chart-hover">
                                <a href="~/Appointments/Active">

                                    <br />
                                    <div class="icon-wrapper rounded-circle">
                                        <br />
                                        <div class="icon-wrapper-bg bg-success"></div>
                                        <i class="lnr-screen "></i>
                                    </div>
                                    <div class="widget-title opacity-10 text-uppercase">
                                        <br />
                                        <i class="metismenu-icon pr-1"></i> Today Appointment

                                    </div>
                                    <div class="widget-description text-success">
                                        <span class="pl-1"> </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!--<div class="col-lg-12 col-xl-3">
        <div class="main-card mb-3 card">
            <div class="grid-menu grid-menu-2col">
                <div class="no-gutters row">-->
        <!--New Appointment-->
        <!--<div class="col-sm-12">
                            <div class="widget-chart widget-chart-hover ">
                                <a href="~/Appointments/Create">

                                    <br />
                                    <div class="icon-wrapper rounded-circle">
                                        <br />
                                        <div class="icon-wrapper-bg bg-primary"></div>
                                        <i class="lnr-laptop text-primary"></i>
                                    </div>
                                    <div class="widget-title opacity-10 text-uppercase">
                                        <br />
                                        <i class="metismenu-icon"></i> New Appointment

                                    </div>
                                    <div class="widget-description text-success">
                                        <span class="pl-1"> </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <!--<div class="col-lg-12 col-xl-3">
        <div class="main-card mb-3 card">
            <div class="grid-menu grid-menu-2col">
                <div class="no-gutters row">-->
        <!--New Appointment-->
        <!--<div class="col-sm-12">
                            <div class="widget-chart widget-chart-hover">
                                <br />
                                <div class="icon-wrapper rounded-circle">
                                    <br />
                                    <div class="icon-wrapper-bg bg-primary"></div>
                                    <i class="lnr-laptop text-primary"></i>
                                </div>
                                <div class="widget-title opacity-10 text-uppercase">
                                    <a href="~/Appointments/Create">
                                        <br />
                                        <i class="metismenu-icon"></i> New Appointment
                                    </a>
                                </div>
                                <div class="widget-description text-success">
                                    <span class="pl-1"> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->

    </div>
</div>


<div class="tabs-animation">
    <div class="row">


        <div class="col-lg-12 col-xl-3">
            <div class="main-card mb-3 card">
                <div class="grid-menu grid-menu-2col">
                    <div class="no-gutters row">
                        <!--Active Appointment-->
                        <div class="col-sm-12">
                            <div class="widget-chart widget-chart-hover">
                                <a href="~/Appointments/Active">

                                    <br />
                                    <div class="icon-wrapper rounded-circle">
                                        <br />
                                        <div class="icon-wrapper-bg bg-success"></div>
                                        <i class="lnr-screen "></i>
                                    </div>
                                    <div class="widget-title opacity-10 text-uppercase">
                                        <br />
                                        <i class="metismenu-icon pr-1"></i> Today Appointment

                                    </div>
                                    <br /><br />

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>


<!--Color dashboard-->

<div class="row">
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-night-fade">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Make New Appointments</div>
                    <div class="widget-subheading">Last year expenses</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>+ 40</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-arielle-smile">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Completed Appointments</div>
                    <div class="widget-subheading">Total Clients Profit</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>+ 25</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-happy-green">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Cancelled Appointments </div>
                    <div class="widget-subheading">People Interested</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>+ 60</span></div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="d-xl-none d-lg-block col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-premium-dark">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Products Sold</div>
                        <div class="widget-subheading">Revenue streams</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-warning"><span>$14M</span></div>
                    </div>
                </div>
            </div>
        </div>*@
</div>
<script>
    //setTimeout(function ()
    //{   
    //    document.querySelector(".circle-progress-gradient-alt-sm").children[1].children[0].innerText = document.querySelector(".pending").nextElementSibling.innerText;
    //}, 2200)
</script>