@model IEnumerable<OlaWakeel.Models.Appointment>

@{
    ViewData["Title"] = "IndexDashboard";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="jquery.circleGraphic.js"></script>

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-cash icon-gradient bg-mean-fruit"></i>
            </div>
            <div>
                Apppointment
            </div>
        </div>
    </div>
</div>

<!--First rows-->
<div class="row">
    <div class="col-sm-12 col-lg-4">
        <div class="mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Appointments</div>
            </div>
            <div class="p-0 d-block card-footer">
                <div class="grid-menu grid-menu-2col">
                    @*<form asp-controller="Appointments" asp-action="Index" method="post">*@
                    <div class="no-gutters row">
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-success" asp-controller="Appointments" asp-action="TotalNewAppointment" type="button">
                                <a href="~/Appointments/TotalNewAppointment">  <i class="lnr-menu text-success opacity-7 btn-icon-wrapper mb-2"> </i>Total New Appointments</a>
                            </button>

                            <!--<a href="~/Appointments/TotalNewAppointment" >-->
                            @*<i class="lnr-menu text-success opacity-10 btn-icon-wrapper mb-2></i>*@
                            <!--<i class="lnr-menu text-success opacity-10 btn-icon-wrapper mb-2">Total New Appointment</i>
                            </a>-->
                            @*<input type="submit" value="button" />
                                <a href='@Url.Action("TotalNewAppointment", "Appointments")></a>*@

                        </div>
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-warning" asp-controller="Appointments" asp-action="TotalNewAppointment">
                                <a href="/Appointments/CustomerWithAppoint">
                                    <i class="lnr-hourglass text-warning opacity-7 btn-icon-wrapper mb-2"> </i>Customers
                                </a>
                            </button>
                        </div>
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-info" asp-controller="Appointments" asp-action="Track">
                                <a href="~/Appointments/TrackAppointment">
                                    <i class="lnr-book text-info opacity-7 btn-icon-wrapper mb-2"> </i>Track Appointment
                                </a>
                            </button>


                            @*<a href="~/Appointments/Track" class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-success>
                                    <i class="lnr-menu text-success opacity-7 btn-icon-wrapper mb-2">Track Appointment</i>
                                </a>*@
                        </div>
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-alternate">
                                <a href="/Appointments/CustomerWithoutAppoint">
                                    <i class="lnr-gift text-alternate opacity-7 btn-icon-wrapper mb-2"> </i>Not an appointment yet!
                                </a>
                            </button>
                        </div>
                    </div>
                    @*</form>*@
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-lg-4">
        <div class="mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Confirm Appointments!</div>
            </div>
            <div class="p-0 d-block card-footer">
                <div class="grid-menu grid-menu-2col">
                    <div class="no-gutters row">
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-success" asp-controller="Appointments" asp-action="TotalNewAppointment" type="button">
                                <a href="/Appointments/TodayConfirmAppointments">  <i class="lnr-menu text-success opacity-7 btn-icon-wrapper mb-2"> </i>Today</a>
                            </button>

                        </div>
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-warning" asp-controller="Appointments" asp-action="TotalNewAppointment">
                                <a href="/Appointments/WeeklyConfirmAppointments">
                                    <i class="lnr-hourglass text-warning opacity-7 btn-icon-wrapper mb-2"> </i>Weekly
                                </a>
                            </button>
                        </div>
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-info" asp-controller="Appointments" asp-action="Track">
                                <a href="/Appointments/MonthlyConfirmAppointments">
                                    <i class="lnr-book text-info opacity-7 btn-icon-wrapper mb-2"> </i>Monthly
                                </a>
                            </button>
                        </div>
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-alternate">
                                <a href="/Appointments/YearlyConfirmAppointments">
                                    <i class="lnr-gift text-alternate opacity-7 btn-icon-wrapper mb-2"> </i>Yearly
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-12 col-lg-4">
        <div class="mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Rescheduled Appointments!</div>
            </div>
            <div class="p-0 d-block card-footer">
                <div class="grid-menu grid-menu-2col">
                    <div class="no-gutters row">
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-success" asp-controller="Appointments" asp-action="TotalNewAppointment" type="button">
                                <a href="/Appointments/TodayPending">  <i class="lnr-menu text-success opacity-7 btn-icon-wrapper mb-2"> </i>Today</a>
                            </button>

                        </div>
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-warning" asp-controller="Appointments" asp-action="TotalNewAppointment">
                                <a href="/Appointments/WeeklyPending">
                                    <i class="lnr-hourglass text-warning opacity-7 btn-icon-wrapper mb-2"> </i>Weekly
                                </a>
                            </button>
                        </div>
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-info" asp-controller="Appointments" asp-action="Track">
                                <a href="/Appointments/MonthlyPending">
                                    <i class="lnr-book text-info opacity-7 btn-icon-wrapper mb-2"> </i>Monthly
                                </a>
                            </button>
                        </div>
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-alternate">
                                <a href="/Appointments/YearlyPending">
                                    <i class="lnr-gift text-alternate opacity-7 btn-icon-wrapper mb-2"> </i>Yearly
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--First rows end-->
<div class="row">
    <div class="col-sm-12 col-lg-4">
        <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-primary card">
            <div class="widget-chat-wrapper-outer">
                <div class="widget-chart-content">
                    <div class="widget-title opacity-10 text-uppercase">
                        <a href="~/Appointments/Pending">
                            <i class="widget-title opacity-10 text-uppercase">Pending Appointment</i>
                        </a>
                    </div>
                    <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                        <div class="widget-chart-flex align-items-center">
                            <div>
                                <small class="opacity-10 text-primary pr-2 pending">+</small>
                                @if (Model != null)
                                {
                                   <span> @Model.Where(a=>a.AppoinmentStatus == "Pending").Count() </span>
                                }
                                

                                <small class="opacity-5 pl-1">..</small>
                            </div>
                            <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                <div class="circle-progress circle-progress-gradient-alt-sm d-inline-block">
                                    <small>

                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-4">

        <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-warning border-warning card">
            <div class="widget-chat-wrapper-outer">
                <div class="widget-chart-content">
                    <div class="widget-title opacity-10 text-uppercase">
                        <a href="~/Appointments/Cancel">
                            <i class="widget-title opacity-10 text-uppercase text-warning">Completed Appointments</i>
                        </a>
                    </div>
                    @*<div class="widget-title opacity-5 text-uppercase">Company Value</div>*@
                    <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                        <div class="widget-chart-flex align-items-center">
                            <div>
                                <small class="opacity-5 text-warning pr-1">+</small>
                                @if (Model != null)
                                {
                                    <span> @Model.Where(a => a.AppoinmentStatus == "Reschedule Request").Count() </span>
                                }
                                <small class="opacity-5 pl-1">..</small>
                            </div>
                            @*<div>
                                    <small class="opacity-5 pr-1">$</small>
                                    1,45M
                                </div>*@
                            <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                <div class="circle-progress circle-progress-warning-sm d-inline-block">
                                    <small></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-12 col-lg-4">
        <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-danger border-danger card">
            <div class="widget-chat-wrapper-outer">
                <div class="widget-chart-content">
                    <div class="widget-title opacity-10 text-uppercase">
                        <a href="~/Appointments/Cancel">
                            <i class="widget-title opacity-10 text-uppercase text-danger">Cancel Appointments</i>
                        </a>
                    </div>
                    <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                        <div class="widget-chart-flex align-items-center">
                            <div>
                                <small class="opacity-10 text-danger pr-2">+</small>

                                @if (Model != null)
                                {
                                    <span> @Model.Where(a => a.AppoinmentStatus == "Cancel").Count() </span>
                                }
                                <small class="opacity-5 pl-1">..</small>
                            </div>

                            @*<div>
                                    <span class="opacity-10 text-danger pr-2">
                                        <i class="fa fa-angle-down"></i>
                                    </span>
                                    71
                                    <small class="opacity-5 pl-1">..</small>
                                </div>*@
                            <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                <div class="circle-progress circle-progress-danger-sm d-inline-block">
                                    <small></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--Second rows End Final-->
