@model IEnumerable<OlaWakeel.Models.Customer>

@{
    ViewData["Title"] = "IndexDashboard";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<style>
    .padbox {
        padding: 9px;

    }
</style>

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-cash icon-gradient bg-mean-fruit"></i>
            </div>
            <div>
                Customer
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-sm-12 col-lg-6">
        <div class="mb-3 card">
            <div class="card-header-tab card-header">

                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Lawyers Menu</div>
                @*<div class="card-header-title font-size-lg text-capitalize font-weight-normal">Make an Appointment</div>*@

                @*<div class="btn-actions-pane-right text-capitalize">
                        <button class="btn-wide btn-outline-2x btn btn-outline-primary btn-sm">View All</button>
                    </div>*@


            </div>
            @*<div class="card-body" style="position: relative;">
                    <div id="chart-col-3" style="min-height: 200px;"><div id="apexcharts1u64srkl" class="apexcharts-canvas apexcharts1u64srkl" style="width: 333px; height: 200px;"><svg id="SvgjsSvg6037" width="333" height="200" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG6039" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs6038"><clipPath id="gridRectMask1u64srkl"><rect id="SvgjsRect6043" width="335" height="202" x="-1" y="-1" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect></clipPath><clipPath id="gridRectMarkerMask1u64srkl"><rect id="SvgjsRect6044" width="347" height="214" x="-7" y="-7" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect></clipPath><linearGradient id="SvgjsLinearGradient6051" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop6052" stop-opacity="0.65" stop-color="rgba(0,143,251,0.65)" offset="0"></stop><stop id="SvgjsStop6053" stop-opacity="0.5" stop-color="rgba(128,199,253,0.5)" offset="1"></stop><stop id="SvgjsStop6054" stop-opacity="0.5" stop-color="rgba(128,199,253,0.5)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient6060" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop6061" stop-opacity="0.65" stop-color="rgba(0,227,150,0.65)" offset="0"></stop><stop id="SvgjsStop6062" stop-opacity="0.5" stop-color="rgba(128,241,203,0.5)" offset="1"></stop><stop id="SvgjsStop6063" stop-opacity="0.5" stop-color="rgba(128,241,203,0.5)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient6069" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop6070" stop-opacity="0.65" stop-color="rgba(254,176,25,0.65)" offset="0"></stop><stop id="SvgjsStop6071" stop-opacity="0.5" stop-color="rgba(255,216,140,0.5)" offset="1"></stop><stop id="SvgjsStop6072" stop-opacity="0.5" stop-color="rgba(255,216,140,0.5)" offset="1"></stop></linearGradient></defs><rect id="SvgjsRect6042" width="1" height="200" x="18" y="0" rx="0" ry="0" fill="#b1b9c4" opacity="1" stroke-width="0" stroke-dasharray="0" class="apexcharts-xcrosshairs" filter="none" fill-opacity="0.9"></rect><g id="SvgjsG6074" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG6075" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g></g><g id="SvgjsG6080" class="apexcharts-grid"><line id="SvgjsLine6082" x1="0" y1="200" x2="333" y2="200" stroke="transparent" stroke-dasharray="0"></line><line id="SvgjsLine6081" x1="0" y1="1" x2="0" y2="200" stroke="transparent" stroke-dasharray="0"></line></g><g id="SvgjsG6046" class="apexcharts-area-series apexcharts-plot-series"><g id="SvgjsG6065" class="apexcharts-series Free-Cash-Flow" data:longestSeries="true" rel="3" data:realIndex="2"><path id="apexcharts-area-2" d="M 18.5 170C 31.45 170 42.55 158 55.5 158C 68.45 158 79.55 168 92.5 168C 105.45 168 116.55 188 129.5 188C 142.45 188 153.55 150 166.5 150C 179.45 150 190.55 144 203.5 144C 216.45 144 227.55 136 240.5 136C 253.45 136 264.55 134 277.5 134C 290.45 134 301.55 158 314.5 158" fill="none" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="2" clip-path="url(#gridRectMask1u64srkl)" pathTo="M 18.5 170C 31.45 170 42.55 158 55.5 158C 68.45 158 79.55 168 92.5 168C 105.45 168 116.55 188 129.5 188C 142.45 188 153.55 150 166.5 150C 179.45 150 190.55 144 203.5 144C 216.45 144 227.55 136 240.5 136C 253.45 136 264.55 134 277.5 134C 290.45 134 301.55 158 314.5 158" pathFrom="M -1 240L -1 240L 55.5 240L 92.5 240L 129.5 240L 166.5 240L 203.5 240L 240.5 240L 277.5 240L 314.5 240"></path><path id="apexcharts-area-2" d="M 18.5 200L 18.5 170C 31.45 170 42.55 158 55.5 158C 68.45 158 79.55 168 92.5 168C 105.45 168 116.55 188 129.5 188C 142.45 188 153.55 150 166.5 150C 179.45 150 190.55 144 203.5 144C 216.45 144 227.55 136 240.5 136C 253.45 136 264.55 134 277.5 134C 290.45 134 301.55 158 314.5 158C 314.5 158 314.5 158 314.5 200M 314.5 158z" fill="url(#SvgjsLinearGradient6069)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="2" clip-path="url(#gridRectMask1u64srkl)" pathTo="M 18.5 200L 18.5 170C 31.45 170 42.55 158 55.5 158C 68.45 158 79.55 168 92.5 168C 105.45 168 116.55 188 129.5 188C 142.45 188 153.55 150 166.5 150C 179.45 150 190.55 144 203.5 144C 216.45 144 227.55 136 240.5 136C 253.45 136 264.55 134 277.5 134C 290.45 134 301.55 158 314.5 158C 314.5 158 314.5 158 314.5 200M 314.5 158z" pathFrom="M -1 240L -1 240L 55.5 240L 92.5 240L 129.5 240L 166.5 240L 203.5 240L 240.5 240L 277.5 240L 314.5 240"></path><g id="SvgjsG6066" class="apexcharts-series-markers-wrap"><g class="apexcharts-series-markers"><circle id="SvgjsCircle6088" r="0" cx="18.5" cy="170" class="apexcharts-marker w0g9ymt4kk no-pointer-events" stroke="#ffffff" fill="#feb019" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g><g id="SvgjsG6067" class="apexcharts-datalabels"></g></g><g id="SvgjsG6056" class="apexcharts-series Revenue" data:longestSeries="true" rel="2" data:realIndex="1"><path id="apexcharts-area-1" d="M 18.5 88C 31.45 88 42.55 70 55.5 70C 68.45 70 79.55 38 92.5 38C 105.45 38 116.55 44 129.5 44C 142.45 44 153.55 66 166.5 66C 179.45 66 190.55 30 203.5 30C 216.45 30 227.55 58 240.5 58C 253.45 58 264.55 12 277.5 12C 290.45 12 301.55 52 314.5 52" fill="none" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="1" clip-path="url(#gridRectMask1u64srkl)" pathTo="M 18.5 88C 31.45 88 42.55 70 55.5 70C 68.45 70 79.55 38 92.5 38C 105.45 38 116.55 44 129.5 44C 142.45 44 153.55 66 166.5 66C 179.45 66 190.55 30 203.5 30C 216.45 30 227.55 58 240.5 58C 253.45 58 264.55 12 277.5 12C 290.45 12 301.55 52 314.5 52" pathFrom="M -1 240L -1 240L 55.5 240L 92.5 240L 129.5 240L 166.5 240L 203.5 240L 240.5 240L 277.5 240L 314.5 240"></path><path id="apexcharts-area-1" d="M 18.5 200L 18.5 88C 31.45 88 42.55 70 55.5 70C 68.45 70 79.55 38 92.5 38C 105.45 38 116.55 44 129.5 44C 142.45 44 153.55 66 166.5 66C 179.45 66 190.55 30 203.5 30C 216.45 30 227.55 58 240.5 58C 253.45 58 264.55 12 277.5 12C 290.45 12 301.55 52 314.5 52C 314.5 52 314.5 52 314.5 200M 314.5 52z" fill="url(#SvgjsLinearGradient6060)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="1" clip-path="url(#gridRectMask1u64srkl)" pathTo="M 18.5 200L 18.5 88C 31.45 88 42.55 70 55.5 70C 68.45 70 79.55 38 92.5 38C 105.45 38 116.55 44 129.5 44C 142.45 44 153.55 66 166.5 66C 179.45 66 190.55 30 203.5 30C 216.45 30 227.55 58 240.5 58C 253.45 58 264.55 12 277.5 12C 290.45 12 301.55 52 314.5 52C 314.5 52 314.5 52 314.5 200M 314.5 52z" pathFrom="M -1 240L -1 240L 55.5 240L 92.5 240L 129.5 240L 166.5 240L 203.5 240L 240.5 240L 277.5 240L 314.5 240"></path><g id="SvgjsG6057" class="apexcharts-series-markers-wrap"><g class="apexcharts-series-markers"><circle id="SvgjsCircle6089" r="0" cx="18.5" cy="88" class="apexcharts-marker wfde0kvit no-pointer-events" stroke="#ffffff" fill="#00e396" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g><g id="SvgjsG6058" class="apexcharts-datalabels"></g></g><g id="SvgjsG6047" class="apexcharts-series Net-Profit" data:longestSeries="true" rel="1" data:realIndex="0"><path id="apexcharts-area-0" d="M 18.5 152C 31.45 152 42.55 130 55.5 130C 68.45 130 79.55 126 92.5 126C 105.45 126 116.55 128 129.5 128C 142.45 128 153.55 118 166.5 118C 179.45 118 190.55 124 203.5 124C 216.45 124 227.55 114 240.5 114C 253.45 114 264.55 120 277.5 120C 290.45 120 301.55 108 314.5 108" fill="none" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMask1u64srkl)" pathTo="M 18.5 152C 31.45 152 42.55 130 55.5 130C 68.45 130 79.55 126 92.5 126C 105.45 126 116.55 128 129.5 128C 142.45 128 153.55 118 166.5 118C 179.45 118 190.55 124 203.5 124C 216.45 124 227.55 114 240.5 114C 253.45 114 264.55 120 277.5 120C 290.45 120 301.55 108 314.5 108" pathFrom="M -1 240L -1 240L 55.5 240L 92.5 240L 129.5 240L 166.5 240L 203.5 240L 240.5 240L 277.5 240L 314.5 240"></path><path id="apexcharts-area-0" d="M 18.5 200L 18.5 152C 31.45 152 42.55 130 55.5 130C 68.45 130 79.55 126 92.5 126C 105.45 126 116.55 128 129.5 128C 142.45 128 153.55 118 166.5 118C 179.45 118 190.55 124 203.5 124C 216.45 124 227.55 114 240.5 114C 253.45 114 264.55 120 277.5 120C 290.45 120 301.55 108 314.5 108C 314.5 108 314.5 108 314.5 200M 314.5 108z" fill="url(#SvgjsLinearGradient6051)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMask1u64srkl)" pathTo="M 18.5 200L 18.5 152C 31.45 152 42.55 130 55.5 130C 68.45 130 79.55 126 92.5 126C 105.45 126 116.55 128 129.5 128C 142.45 128 153.55 118 166.5 118C 179.45 118 190.55 124 203.5 124C 216.45 124 227.55 114 240.5 114C 253.45 114 264.55 120 277.5 120C 290.45 120 301.55 108 314.5 108C 314.5 108 314.5 108 314.5 200M 314.5 108z" pathFrom="M -1 240L -1 240L 55.5 240L 92.5 240L 129.5 240L 166.5 240L 203.5 240L 240.5 240L 277.5 240L 314.5 240"></path><g id="SvgjsG6048" class="apexcharts-series-markers-wrap"><g class="apexcharts-series-markers"><circle id="SvgjsCircle6090" r="0" cx="18.5" cy="152" class="apexcharts-marker wym87f8p5 no-pointer-events" stroke="#ffffff" fill="#008ffb" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g><g id="SvgjsG6049" class="apexcharts-datalabels"></g></g></g><line id="SvgjsLine6083" x1="0" y1="0" x2="333" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine6084" x1="0" y1="0" x2="333" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG6085" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG6086" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG6087" class="apexcharts-point-annotations"></g></g><g id="SvgjsG6076" class="apexcharts-yaxis" rel="0" transform="translate(-32.015625, 0)"><g id="SvgjsG6077" class="apexcharts-yaxis-texts-g"></g><g id="SvgjsG6078" class="apexcharts-yaxis-title"><text id="SvgjsText6079" font-family="Helvetica, Arial, sans-serif" x="38.8046875" y="100" text-anchor="end" dominate-baseline="central" font-size="11px" fill="#373d3f" class="apexcharts-yaxis-title-text apexcharts-yaxis-title" style="font-family: Helvetica, Arial, sans-serif;" transform="rotate(-90 5.34375 96.3984375)">$ (thousands)</text></g></g></svg><div class="apexcharts-legend"></div><div class="apexcharts-tooltip light" style="left: 29px; top: 51.2px;"><div class="apexcharts-tooltip-title">Feb</div><div class="apexcharts-tooltip-series-group active" style="display: flex;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(0, 143, 251);"></span><div class="apexcharts-tooltip-text"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label">Net Profit: </span><span class="apexcharts-tooltip-text-value">$ 44 thousands</span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group active" style="display: flex;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(0, 227, 150);"></span><div class="apexcharts-tooltip-text"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label">Revenue: </span><span class="apexcharts-tooltip-text-value">$ 76 thousands</span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group active" style="display: flex;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(254, 176, 25);"></span><div class="apexcharts-tooltip-text"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label">Free Cash Flow: </span><span class="apexcharts-tooltip-text-value">$ 35 thousands</span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div></div></div>
                    <div class="resize-triggers"><div class="expand-trigger"><div style="width: 374px; height: 241px;"></div></div><div class="contract-trigger"></div></div>
                </div>*@

            <div class="p-0 d-block card-footer">
                <div class="grid-menu grid-menu-2col">

                    <div class="no-gutters row  padbox" @*style="padding: 8px;"*@>
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-success">
                                <i class="lnr-menu text-success opacity-7 btn-icon-wrapper mb-2"> </i>New Lawyer
                                @*<i class="fa fa-fw" aria-hidden="true" title="Copy to use address-card"></i>New Appointments*@
                            </button>
                        </div>
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-warning">
                                <i class="fa-user-plus text-warning opacity-7 btn-icon-wrapper mb-2"> </i>Add Lawyer
                            </button>
                        </div>
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-info">
                                <i class="lnr-book text-info opacity-7 btn-icon-wrapper mb-2"> </i>Track Lawyer
                            </button>
                        </div>
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-alternate">
                                <i class="lnr-gift text-alternate opacity-7 btn-icon-wrapper mb-2"> </i>Not a Lawyer yet!
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6">
        <div class="mb-3 card">
            <div class="card-header-tab card-header">

                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Pending Lawyer Approvals</div>
                @*<div class="card-header-title font-size-lg text-capitalize font-weight-normal">Make an Appointment</div>*@

                @*<div class="btn-actions-pane-right text-capitalize">
                        <button class="btn-wide btn-outline-2x btn btn-outline-primary btn-sm">View All</button>
                    </div>*@


            </div>
            @*<div class="card-body" style="position: relative;">
                    <div id="chart-col-3" style="min-height: 200px;"><div id="apexcharts1u64srkl" class="apexcharts-canvas apexcharts1u64srkl" style="width: 333px; height: 200px;"><svg id="SvgjsSvg6037" width="333" height="200" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG6039" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs6038"><clipPath id="gridRectMask1u64srkl"><rect id="SvgjsRect6043" width="335" height="202" x="-1" y="-1" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect></clipPath><clipPath id="gridRectMarkerMask1u64srkl"><rect id="SvgjsRect6044" width="347" height="214" x="-7" y="-7" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect></clipPath><linearGradient id="SvgjsLinearGradient6051" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop6052" stop-opacity="0.65" stop-color="rgba(0,143,251,0.65)" offset="0"></stop><stop id="SvgjsStop6053" stop-opacity="0.5" stop-color="rgba(128,199,253,0.5)" offset="1"></stop><stop id="SvgjsStop6054" stop-opacity="0.5" stop-color="rgba(128,199,253,0.5)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient6060" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop6061" stop-opacity="0.65" stop-color="rgba(0,227,150,0.65)" offset="0"></stop><stop id="SvgjsStop6062" stop-opacity="0.5" stop-color="rgba(128,241,203,0.5)" offset="1"></stop><stop id="SvgjsStop6063" stop-opacity="0.5" stop-color="rgba(128,241,203,0.5)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient6069" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop6070" stop-opacity="0.65" stop-color="rgba(254,176,25,0.65)" offset="0"></stop><stop id="SvgjsStop6071" stop-opacity="0.5" stop-color="rgba(255,216,140,0.5)" offset="1"></stop><stop id="SvgjsStop6072" stop-opacity="0.5" stop-color="rgba(255,216,140,0.5)" offset="1"></stop></linearGradient></defs><rect id="SvgjsRect6042" width="1" height="200" x="18" y="0" rx="0" ry="0" fill="#b1b9c4" opacity="1" stroke-width="0" stroke-dasharray="0" class="apexcharts-xcrosshairs" filter="none" fill-opacity="0.9"></rect><g id="SvgjsG6074" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG6075" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g></g><g id="SvgjsG6080" class="apexcharts-grid"><line id="SvgjsLine6082" x1="0" y1="200" x2="333" y2="200" stroke="transparent" stroke-dasharray="0"></line><line id="SvgjsLine6081" x1="0" y1="1" x2="0" y2="200" stroke="transparent" stroke-dasharray="0"></line></g><g id="SvgjsG6046" class="apexcharts-area-series apexcharts-plot-series"><g id="SvgjsG6065" class="apexcharts-series Free-Cash-Flow" data:longestSeries="true" rel="3" data:realIndex="2"><path id="apexcharts-area-2" d="M 18.5 170C 31.45 170 42.55 158 55.5 158C 68.45 158 79.55 168 92.5 168C 105.45 168 116.55 188 129.5 188C 142.45 188 153.55 150 166.5 150C 179.45 150 190.55 144 203.5 144C 216.45 144 227.55 136 240.5 136C 253.45 136 264.55 134 277.5 134C 290.45 134 301.55 158 314.5 158" fill="none" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="2" clip-path="url(#gridRectMask1u64srkl)" pathTo="M 18.5 170C 31.45 170 42.55 158 55.5 158C 68.45 158 79.55 168 92.5 168C 105.45 168 116.55 188 129.5 188C 142.45 188 153.55 150 166.5 150C 179.45 150 190.55 144 203.5 144C 216.45 144 227.55 136 240.5 136C 253.45 136 264.55 134 277.5 134C 290.45 134 301.55 158 314.5 158" pathFrom="M -1 240L -1 240L 55.5 240L 92.5 240L 129.5 240L 166.5 240L 203.5 240L 240.5 240L 277.5 240L 314.5 240"></path><path id="apexcharts-area-2" d="M 18.5 200L 18.5 170C 31.45 170 42.55 158 55.5 158C 68.45 158 79.55 168 92.5 168C 105.45 168 116.55 188 129.5 188C 142.45 188 153.55 150 166.5 150C 179.45 150 190.55 144 203.5 144C 216.45 144 227.55 136 240.5 136C 253.45 136 264.55 134 277.5 134C 290.45 134 301.55 158 314.5 158C 314.5 158 314.5 158 314.5 200M 314.5 158z" fill="url(#SvgjsLinearGradient6069)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="2" clip-path="url(#gridRectMask1u64srkl)" pathTo="M 18.5 200L 18.5 170C 31.45 170 42.55 158 55.5 158C 68.45 158 79.55 168 92.5 168C 105.45 168 116.55 188 129.5 188C 142.45 188 153.55 150 166.5 150C 179.45 150 190.55 144 203.5 144C 216.45 144 227.55 136 240.5 136C 253.45 136 264.55 134 277.5 134C 290.45 134 301.55 158 314.5 158C 314.5 158 314.5 158 314.5 200M 314.5 158z" pathFrom="M -1 240L -1 240L 55.5 240L 92.5 240L 129.5 240L 166.5 240L 203.5 240L 240.5 240L 277.5 240L 314.5 240"></path><g id="SvgjsG6066" class="apexcharts-series-markers-wrap"><g class="apexcharts-series-markers"><circle id="SvgjsCircle6088" r="0" cx="18.5" cy="170" class="apexcharts-marker w0g9ymt4kk no-pointer-events" stroke="#ffffff" fill="#feb019" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g><g id="SvgjsG6067" class="apexcharts-datalabels"></g></g><g id="SvgjsG6056" class="apexcharts-series Revenue" data:longestSeries="true" rel="2" data:realIndex="1"><path id="apexcharts-area-1" d="M 18.5 88C 31.45 88 42.55 70 55.5 70C 68.45 70 79.55 38 92.5 38C 105.45 38 116.55 44 129.5 44C 142.45 44 153.55 66 166.5 66C 179.45 66 190.55 30 203.5 30C 216.45 30 227.55 58 240.5 58C 253.45 58 264.55 12 277.5 12C 290.45 12 301.55 52 314.5 52" fill="none" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="1" clip-path="url(#gridRectMask1u64srkl)" pathTo="M 18.5 88C 31.45 88 42.55 70 55.5 70C 68.45 70 79.55 38 92.5 38C 105.45 38 116.55 44 129.5 44C 142.45 44 153.55 66 166.5 66C 179.45 66 190.55 30 203.5 30C 216.45 30 227.55 58 240.5 58C 253.45 58 264.55 12 277.5 12C 290.45 12 301.55 52 314.5 52" pathFrom="M -1 240L -1 240L 55.5 240L 92.5 240L 129.5 240L 166.5 240L 203.5 240L 240.5 240L 277.5 240L 314.5 240"></path><path id="apexcharts-area-1" d="M 18.5 200L 18.5 88C 31.45 88 42.55 70 55.5 70C 68.45 70 79.55 38 92.5 38C 105.45 38 116.55 44 129.5 44C 142.45 44 153.55 66 166.5 66C 179.45 66 190.55 30 203.5 30C 216.45 30 227.55 58 240.5 58C 253.45 58 264.55 12 277.5 12C 290.45 12 301.55 52 314.5 52C 314.5 52 314.5 52 314.5 200M 314.5 52z" fill="url(#SvgjsLinearGradient6060)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="1" clip-path="url(#gridRectMask1u64srkl)" pathTo="M 18.5 200L 18.5 88C 31.45 88 42.55 70 55.5 70C 68.45 70 79.55 38 92.5 38C 105.45 38 116.55 44 129.5 44C 142.45 44 153.55 66 166.5 66C 179.45 66 190.55 30 203.5 30C 216.45 30 227.55 58 240.5 58C 253.45 58 264.55 12 277.5 12C 290.45 12 301.55 52 314.5 52C 314.5 52 314.5 52 314.5 200M 314.5 52z" pathFrom="M -1 240L -1 240L 55.5 240L 92.5 240L 129.5 240L 166.5 240L 203.5 240L 240.5 240L 277.5 240L 314.5 240"></path><g id="SvgjsG6057" class="apexcharts-series-markers-wrap"><g class="apexcharts-series-markers"><circle id="SvgjsCircle6089" r="0" cx="18.5" cy="88" class="apexcharts-marker wfde0kvit no-pointer-events" stroke="#ffffff" fill="#00e396" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g><g id="SvgjsG6058" class="apexcharts-datalabels"></g></g><g id="SvgjsG6047" class="apexcharts-series Net-Profit" data:longestSeries="true" rel="1" data:realIndex="0"><path id="apexcharts-area-0" d="M 18.5 152C 31.45 152 42.55 130 55.5 130C 68.45 130 79.55 126 92.5 126C 105.45 126 116.55 128 129.5 128C 142.45 128 153.55 118 166.5 118C 179.45 118 190.55 124 203.5 124C 216.45 124 227.55 114 240.5 114C 253.45 114 264.55 120 277.5 120C 290.45 120 301.55 108 314.5 108" fill="none" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMask1u64srkl)" pathTo="M 18.5 152C 31.45 152 42.55 130 55.5 130C 68.45 130 79.55 126 92.5 126C 105.45 126 116.55 128 129.5 128C 142.45 128 153.55 118 166.5 118C 179.45 118 190.55 124 203.5 124C 216.45 124 227.55 114 240.5 114C 253.45 114 264.55 120 277.5 120C 290.45 120 301.55 108 314.5 108" pathFrom="M -1 240L -1 240L 55.5 240L 92.5 240L 129.5 240L 166.5 240L 203.5 240L 240.5 240L 277.5 240L 314.5 240"></path><path id="apexcharts-area-0" d="M 18.5 200L 18.5 152C 31.45 152 42.55 130 55.5 130C 68.45 130 79.55 126 92.5 126C 105.45 126 116.55 128 129.5 128C 142.45 128 153.55 118 166.5 118C 179.45 118 190.55 124 203.5 124C 216.45 124 227.55 114 240.5 114C 253.45 114 264.55 120 277.5 120C 290.45 120 301.55 108 314.5 108C 314.5 108 314.5 108 314.5 200M 314.5 108z" fill="url(#SvgjsLinearGradient6051)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMask1u64srkl)" pathTo="M 18.5 200L 18.5 152C 31.45 152 42.55 130 55.5 130C 68.45 130 79.55 126 92.5 126C 105.45 126 116.55 128 129.5 128C 142.45 128 153.55 118 166.5 118C 179.45 118 190.55 124 203.5 124C 216.45 124 227.55 114 240.5 114C 253.45 114 264.55 120 277.5 120C 290.45 120 301.55 108 314.5 108C 314.5 108 314.5 108 314.5 200M 314.5 108z" pathFrom="M -1 240L -1 240L 55.5 240L 92.5 240L 129.5 240L 166.5 240L 203.5 240L 240.5 240L 277.5 240L 314.5 240"></path><g id="SvgjsG6048" class="apexcharts-series-markers-wrap"><g class="apexcharts-series-markers"><circle id="SvgjsCircle6090" r="0" cx="18.5" cy="152" class="apexcharts-marker wym87f8p5 no-pointer-events" stroke="#ffffff" fill="#008ffb" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g><g id="SvgjsG6049" class="apexcharts-datalabels"></g></g></g><line id="SvgjsLine6083" x1="0" y1="0" x2="333" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine6084" x1="0" y1="0" x2="333" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG6085" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG6086" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG6087" class="apexcharts-point-annotations"></g></g><g id="SvgjsG6076" class="apexcharts-yaxis" rel="0" transform="translate(-32.015625, 0)"><g id="SvgjsG6077" class="apexcharts-yaxis-texts-g"></g><g id="SvgjsG6078" class="apexcharts-yaxis-title"><text id="SvgjsText6079" font-family="Helvetica, Arial, sans-serif" x="38.8046875" y="100" text-anchor="end" dominate-baseline="central" font-size="11px" fill="#373d3f" class="apexcharts-yaxis-title-text apexcharts-yaxis-title" style="font-family: Helvetica, Arial, sans-serif;" transform="rotate(-90 5.34375 96.3984375)">$ (thousands)</text></g></g></svg><div class="apexcharts-legend"></div><div class="apexcharts-tooltip light" style="left: 29px; top: 51.2px;"><div class="apexcharts-tooltip-title">Feb</div><div class="apexcharts-tooltip-series-group active" style="display: flex;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(0, 143, 251);"></span><div class="apexcharts-tooltip-text"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label">Net Profit: </span><span class="apexcharts-tooltip-text-value">$ 44 thousands</span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group active" style="display: flex;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(0, 227, 150);"></span><div class="apexcharts-tooltip-text"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label">Revenue: </span><span class="apexcharts-tooltip-text-value">$ 76 thousands</span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group active" style="display: flex;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(254, 176, 25);"></span><div class="apexcharts-tooltip-text"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label">Free Cash Flow: </span><span class="apexcharts-tooltip-text-value">$ 35 thousands</span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div></div></div>
                    <div class="resize-triggers"><div class="expand-trigger"><div style="width: 374px; height: 241px;"></div></div><div class="contract-trigger"></div></div>
                </div>*@

            <div class="p-0 d-block card-footer">
                <div class="grid-menu grid-menu-2col">

                    <div class="no-gutters row  padbox" @*style="padding: 8px;"*@>
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-success">
                                <i class="lnr-menu text-success opacity-7 btn-icon-wrapper mb-2"> </i>Need Approvals
                                @*<i class="fa fa-fw" aria-hidden="true" title="Copy to use address-card"></i>New Appointments*@
                            </button>
                        </div>
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-warning">
                                <i class="lnr-hourglass text-warning opacity-7 btn-icon-wrapper mb-2"> </i>Approved Lawyers
                            </button>
                        </div>
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-info">
                                <i class="lnr-book text-info opacity-7 btn-icon-wrapper mb-2"> </i>Verified Lawyers
                            </button>
                        </div>
                        <div class="p-2 col-sm-6">
                            <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-alternate">
                                <i class="lnr-gift text-alternate opacity-7 btn-icon-wrapper mb-2"> </i>Verified Lawyers
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>




























    <div class="row">
        <div class="col-sm-12 col-lg-4">
            <div class="mb-3 card">
                <div class="card-header-tab card-header">

                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Customer Menu</div>
                    @*<div class="card-header-title font-size-lg text-capitalize font-weight-normal">Make an Appointment</div>*@

                    @*<div class="btn-actions-pane-right text-capitalize">
                            <button class="btn-wide btn-outline-2x btn btn-outline-primary btn-sm">View All</button>
                        </div>*@


                </div>
                @*<div class="card-body" style="position: relative;">
                        <div id="chart-col-3" style="min-height: 200px;"><div id="apexcharts1u64srkl" class="apexcharts-canvas apexcharts1u64srkl" style="width: 333px; height: 200px;"><svg id="SvgjsSvg6037" width="333" height="200" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG6039" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs6038"><clipPath id="gridRectMask1u64srkl"><rect id="SvgjsRect6043" width="335" height="202" x="-1" y="-1" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect></clipPath><clipPath id="gridRectMarkerMask1u64srkl"><rect id="SvgjsRect6044" width="347" height="214" x="-7" y="-7" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect></clipPath><linearGradient id="SvgjsLinearGradient6051" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop6052" stop-opacity="0.65" stop-color="rgba(0,143,251,0.65)" offset="0"></stop><stop id="SvgjsStop6053" stop-opacity="0.5" stop-color="rgba(128,199,253,0.5)" offset="1"></stop><stop id="SvgjsStop6054" stop-opacity="0.5" stop-color="rgba(128,199,253,0.5)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient6060" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop6061" stop-opacity="0.65" stop-color="rgba(0,227,150,0.65)" offset="0"></stop><stop id="SvgjsStop6062" stop-opacity="0.5" stop-color="rgba(128,241,203,0.5)" offset="1"></stop><stop id="SvgjsStop6063" stop-opacity="0.5" stop-color="rgba(128,241,203,0.5)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient6069" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop6070" stop-opacity="0.65" stop-color="rgba(254,176,25,0.65)" offset="0"></stop><stop id="SvgjsStop6071" stop-opacity="0.5" stop-color="rgba(255,216,140,0.5)" offset="1"></stop><stop id="SvgjsStop6072" stop-opacity="0.5" stop-color="rgba(255,216,140,0.5)" offset="1"></stop></linearGradient></defs><rect id="SvgjsRect6042" width="1" height="200" x="18" y="0" rx="0" ry="0" fill="#b1b9c4" opacity="1" stroke-width="0" stroke-dasharray="0" class="apexcharts-xcrosshairs" filter="none" fill-opacity="0.9"></rect><g id="SvgjsG6074" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG6075" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g></g><g id="SvgjsG6080" class="apexcharts-grid"><line id="SvgjsLine6082" x1="0" y1="200" x2="333" y2="200" stroke="transparent" stroke-dasharray="0"></line><line id="SvgjsLine6081" x1="0" y1="1" x2="0" y2="200" stroke="transparent" stroke-dasharray="0"></line></g><g id="SvgjsG6046" class="apexcharts-area-series apexcharts-plot-series"><g id="SvgjsG6065" class="apexcharts-series Free-Cash-Flow" data:longestSeries="true" rel="3" data:realIndex="2"><path id="apexcharts-area-2" d="M 18.5 170C 31.45 170 42.55 158 55.5 158C 68.45 158 79.55 168 92.5 168C 105.45 168 116.55 188 129.5 188C 142.45 188 153.55 150 166.5 150C 179.45 150 190.55 144 203.5 144C 216.45 144 227.55 136 240.5 136C 253.45 136 264.55 134 277.5 134C 290.45 134 301.55 158 314.5 158" fill="none" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="2" clip-path="url(#gridRectMask1u64srkl)" pathTo="M 18.5 170C 31.45 170 42.55 158 55.5 158C 68.45 158 79.55 168 92.5 168C 105.45 168 116.55 188 129.5 188C 142.45 188 153.55 150 166.5 150C 179.45 150 190.55 144 203.5 144C 216.45 144 227.55 136 240.5 136C 253.45 136 264.55 134 277.5 134C 290.45 134 301.55 158 314.5 158" pathFrom="M -1 240L -1 240L 55.5 240L 92.5 240L 129.5 240L 166.5 240L 203.5 240L 240.5 240L 277.5 240L 314.5 240"></path><path id="apexcharts-area-2" d="M 18.5 200L 18.5 170C 31.45 170 42.55 158 55.5 158C 68.45 158 79.55 168 92.5 168C 105.45 168 116.55 188 129.5 188C 142.45 188 153.55 150 166.5 150C 179.45 150 190.55 144 203.5 144C 216.45 144 227.55 136 240.5 136C 253.45 136 264.55 134 277.5 134C 290.45 134 301.55 158 314.5 158C 314.5 158 314.5 158 314.5 200M 314.5 158z" fill="url(#SvgjsLinearGradient6069)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="2" clip-path="url(#gridRectMask1u64srkl)" pathTo="M 18.5 200L 18.5 170C 31.45 170 42.55 158 55.5 158C 68.45 158 79.55 168 92.5 168C 105.45 168 116.55 188 129.5 188C 142.45 188 153.55 150 166.5 150C 179.45 150 190.55 144 203.5 144C 216.45 144 227.55 136 240.5 136C 253.45 136 264.55 134 277.5 134C 290.45 134 301.55 158 314.5 158C 314.5 158 314.5 158 314.5 200M 314.5 158z" pathFrom="M -1 240L -1 240L 55.5 240L 92.5 240L 129.5 240L 166.5 240L 203.5 240L 240.5 240L 277.5 240L 314.5 240"></path><g id="SvgjsG6066" class="apexcharts-series-markers-wrap"><g class="apexcharts-series-markers"><circle id="SvgjsCircle6088" r="0" cx="18.5" cy="170" class="apexcharts-marker w0g9ymt4kk no-pointer-events" stroke="#ffffff" fill="#feb019" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g><g id="SvgjsG6067" class="apexcharts-datalabels"></g></g><g id="SvgjsG6056" class="apexcharts-series Revenue" data:longestSeries="true" rel="2" data:realIndex="1"><path id="apexcharts-area-1" d="M 18.5 88C 31.45 88 42.55 70 55.5 70C 68.45 70 79.55 38 92.5 38C 105.45 38 116.55 44 129.5 44C 142.45 44 153.55 66 166.5 66C 179.45 66 190.55 30 203.5 30C 216.45 30 227.55 58 240.5 58C 253.45 58 264.55 12 277.5 12C 290.45 12 301.55 52 314.5 52" fill="none" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="1" clip-path="url(#gridRectMask1u64srkl)" pathTo="M 18.5 88C 31.45 88 42.55 70 55.5 70C 68.45 70 79.55 38 92.5 38C 105.45 38 116.55 44 129.5 44C 142.45 44 153.55 66 166.5 66C 179.45 66 190.55 30 203.5 30C 216.45 30 227.55 58 240.5 58C 253.45 58 264.55 12 277.5 12C 290.45 12 301.55 52 314.5 52" pathFrom="M -1 240L -1 240L 55.5 240L 92.5 240L 129.5 240L 166.5 240L 203.5 240L 240.5 240L 277.5 240L 314.5 240"></path><path id="apexcharts-area-1" d="M 18.5 200L 18.5 88C 31.45 88 42.55 70 55.5 70C 68.45 70 79.55 38 92.5 38C 105.45 38 116.55 44 129.5 44C 142.45 44 153.55 66 166.5 66C 179.45 66 190.55 30 203.5 30C 216.45 30 227.55 58 240.5 58C 253.45 58 264.55 12 277.5 12C 290.45 12 301.55 52 314.5 52C 314.5 52 314.5 52 314.5 200M 314.5 52z" fill="url(#SvgjsLinearGradient6060)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="1" clip-path="url(#gridRectMask1u64srkl)" pathTo="M 18.5 200L 18.5 88C 31.45 88 42.55 70 55.5 70C 68.45 70 79.55 38 92.5 38C 105.45 38 116.55 44 129.5 44C 142.45 44 153.55 66 166.5 66C 179.45 66 190.55 30 203.5 30C 216.45 30 227.55 58 240.5 58C 253.45 58 264.55 12 277.5 12C 290.45 12 301.55 52 314.5 52C 314.5 52 314.5 52 314.5 200M 314.5 52z" pathFrom="M -1 240L -1 240L 55.5 240L 92.5 240L 129.5 240L 166.5 240L 203.5 240L 240.5 240L 277.5 240L 314.5 240"></path><g id="SvgjsG6057" class="apexcharts-series-markers-wrap"><g class="apexcharts-series-markers"><circle id="SvgjsCircle6089" r="0" cx="18.5" cy="88" class="apexcharts-marker wfde0kvit no-pointer-events" stroke="#ffffff" fill="#00e396" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g><g id="SvgjsG6058" class="apexcharts-datalabels"></g></g><g id="SvgjsG6047" class="apexcharts-series Net-Profit" data:longestSeries="true" rel="1" data:realIndex="0"><path id="apexcharts-area-0" d="M 18.5 152C 31.45 152 42.55 130 55.5 130C 68.45 130 79.55 126 92.5 126C 105.45 126 116.55 128 129.5 128C 142.45 128 153.55 118 166.5 118C 179.45 118 190.55 124 203.5 124C 216.45 124 227.55 114 240.5 114C 253.45 114 264.55 120 277.5 120C 290.45 120 301.55 108 314.5 108" fill="none" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMask1u64srkl)" pathTo="M 18.5 152C 31.45 152 42.55 130 55.5 130C 68.45 130 79.55 126 92.5 126C 105.45 126 116.55 128 129.5 128C 142.45 128 153.55 118 166.5 118C 179.45 118 190.55 124 203.5 124C 216.45 124 227.55 114 240.5 114C 253.45 114 264.55 120 277.5 120C 290.45 120 301.55 108 314.5 108" pathFrom="M -1 240L -1 240L 55.5 240L 92.5 240L 129.5 240L 166.5 240L 203.5 240L 240.5 240L 277.5 240L 314.5 240"></path><path id="apexcharts-area-0" d="M 18.5 200L 18.5 152C 31.45 152 42.55 130 55.5 130C 68.45 130 79.55 126 92.5 126C 105.45 126 116.55 128 129.5 128C 142.45 128 153.55 118 166.5 118C 179.45 118 190.55 124 203.5 124C 216.45 124 227.55 114 240.5 114C 253.45 114 264.55 120 277.5 120C 290.45 120 301.55 108 314.5 108C 314.5 108 314.5 108 314.5 200M 314.5 108z" fill="url(#SvgjsLinearGradient6051)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMask1u64srkl)" pathTo="M 18.5 200L 18.5 152C 31.45 152 42.55 130 55.5 130C 68.45 130 79.55 126 92.5 126C 105.45 126 116.55 128 129.5 128C 142.45 128 153.55 118 166.5 118C 179.45 118 190.55 124 203.5 124C 216.45 124 227.55 114 240.5 114C 253.45 114 264.55 120 277.5 120C 290.45 120 301.55 108 314.5 108C 314.5 108 314.5 108 314.5 200M 314.5 108z" pathFrom="M -1 240L -1 240L 55.5 240L 92.5 240L 129.5 240L 166.5 240L 203.5 240L 240.5 240L 277.5 240L 314.5 240"></path><g id="SvgjsG6048" class="apexcharts-series-markers-wrap"><g class="apexcharts-series-markers"><circle id="SvgjsCircle6090" r="0" cx="18.5" cy="152" class="apexcharts-marker wym87f8p5 no-pointer-events" stroke="#ffffff" fill="#008ffb" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g><g id="SvgjsG6049" class="apexcharts-datalabels"></g></g></g><line id="SvgjsLine6083" x1="0" y1="0" x2="333" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine6084" x1="0" y1="0" x2="333" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG6085" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG6086" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG6087" class="apexcharts-point-annotations"></g></g><g id="SvgjsG6076" class="apexcharts-yaxis" rel="0" transform="translate(-32.015625, 0)"><g id="SvgjsG6077" class="apexcharts-yaxis-texts-g"></g><g id="SvgjsG6078" class="apexcharts-yaxis-title"><text id="SvgjsText6079" font-family="Helvetica, Arial, sans-serif" x="38.8046875" y="100" text-anchor="end" dominate-baseline="central" font-size="11px" fill="#373d3f" class="apexcharts-yaxis-title-text apexcharts-yaxis-title" style="font-family: Helvetica, Arial, sans-serif;" transform="rotate(-90 5.34375 96.3984375)">$ (thousands)</text></g></g></svg><div class="apexcharts-legend"></div><div class="apexcharts-tooltip light" style="left: 29px; top: 51.2px;"><div class="apexcharts-tooltip-title">Feb</div><div class="apexcharts-tooltip-series-group active" style="display: flex;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(0, 143, 251);"></span><div class="apexcharts-tooltip-text"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label">Net Profit: </span><span class="apexcharts-tooltip-text-value">$ 44 thousands</span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group active" style="display: flex;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(0, 227, 150);"></span><div class="apexcharts-tooltip-text"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label">Revenue: </span><span class="apexcharts-tooltip-text-value">$ 76 thousands</span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group active" style="display: flex;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(254, 176, 25);"></span><div class="apexcharts-tooltip-text"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label">Free Cash Flow: </span><span class="apexcharts-tooltip-text-value">$ 35 thousands</span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div></div></div>
                        <div class="resize-triggers"><div class="expand-trigger"><div style="width: 374px; height: 241px;"></div></div><div class="contract-trigger"></div></div>
                    </div>*@

                <div class="p-0 d-block card-footer">
                    <div class="grid-menu grid-menu-2col">

                        <div class="no-gutters row  padbox" @*style="padding: 8px;"*@>
                            <div class="p-2 col-sm-6">
                                <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-success">
                                    <i class="lnr-menu text-success opacity-7 btn-icon-wrapper mb-2"> </i>New Customer
                                    @*<i class="fa fa-fw" aria-hidden="true" title="Copy to use address-card"></i>New Appointments*@
                                </button>
                            </div>
                            <div class="p-2 col-sm-6">
                                <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-warning">
                                    <i class="lnr-hourglass text-warning opacity-7 btn-icon-wrapper mb-2"> </i>Add Customer
                                </button>
                            </div>
                            <div class="p-2 col-sm-6">
                                <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-info">
                                    <i class="lnr-book text-info opacity-7 btn-icon-wrapper mb-2"> </i>Track Customer
                                </button>
                            </div>
                            <div class="p-2 col-sm-6">
                                <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-alternate">
                                    <i class="lnr-gift text-alternate opacity-7 btn-icon-wrapper mb-2"> </i>Not a Customer yet!
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-primary card">
                        <div class="widget-chat-wrapper-outer">
                            <div class="widget-chart-content">
                                <div class="widget-title opacity-10 text-uppercase">
                                    <a href="~/Appointments/Create">
                                        <i class="widget-title opacity-10 text-uppercase">Search Customers</i>
                                    </a>
                                </div>
                                <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                                    <div class="widget-chart-flex align-items-center">
                                        <div>
                                            <small class="opacity-10 text-primary pr-2">+</small>
                                            34
                                            <small class="opacity-5 pl-1">..</small>
                                        </div>
                                        @*<div>
                                                <span class="opacity-10 text-success pr-2">
                                                    <i class="fa fa-angle-up"></i>
                                                </span>
                                                234
                                                <small class="opacity-5 pl-1">%</small>
                                            </div>*@
                                        <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                            <div class="circle-progress circle-progress-gradient-alt-sm d-inline-block">
                                                <small></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-primary card">
                        <div class="widget-chat-wrapper-outer">
                            <div class="widget-chart-content">
                                <div class="widget-title opacity-10 text-uppercase">
                                    <a href="~/Appointments/Create">
                                        <i class="widget-title opacity-10 text-uppercase">All Customers</i>
                                    </a>
                                </div>
                                <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                                    <div class="widget-chart-flex align-items-center">
                                        <div>
                                            <small class="opacity-10 text-primary pr-2">+</small>
                                            34
                                            <small class="opacity-5 pl-1">..</small>
                                        </div>
                                        @*<div>
                                                <span class="opacity-10 text-success pr-2">
                                                    <i class="fa fa-angle-up"></i>
                                                </span>
                                                234
                                                <small class="opacity-5 pl-1">%</small>
                                            </div>*@
                                        <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                            <div class="circle-progress circle-progress-gradient-alt-sm d-inline-block">
                                                <small></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-warning border-warning card">
                        <div class="widget-chat-wrapper-outer">
                            <div class="widget-chart-content">
                                <div class="widget-title opacity-10 text-uppercase">
                                    <a href="~/Appointments/Active">
                                        <i class="widget-title opacity-10 text-uppercase text-warning">Active Customers</i>
                                    </a>
                                </div>
                                @*<div class="widget-title opacity-5 text-uppercase">Company Value</div>*@
                                <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                                    <div class="widget-chart-flex align-items-center">
                                        <div>
                                            <small class="opacity-5 text-warning pr-1">+</small>
                                            34
                                            <small class="opacity-5 pl-1">..</small>
                                        </div>
                                        @*<div>
                                                <small class="opacity-5 pr-1">$</small>
                                                1,45M
                                            </div>*@
                                        <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                            <div class="circle-progress circle-progress-warning-sm d-inline-block">
                                                <small></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-danger border-danger card">
                        <div class="widget-chat-wrapper-outer">
                            <div class="widget-chart-content">
                                <div class="widget-title opacity-10 text-uppercase">
                                    <a href="~/Appointments/Active">
                                        <i class="widget-title opacity-10 text-uppercase text-danger">Blocked Customers</i>
                                    </a>
                                </div>
                                <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                                    <div class="widget-chart-flex align-items-center">
                                        <div>
                                            <small class="opacity-10 text-danger pr-2">+</small>
                                            74
                                            <small class="opacity-5 pl-1">..</small>
                                        </div>

                                        @*<div>
                                                <span class="opacity-10 text-danger pr-2">
                                                    <i class="fa fa-angle-down"></i>
                                                </span>
                                                71
                                                <small class="opacity-5 pl-1">..</small>
                                            </div>*@
                                        <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                            <div class="circle-progress circle-progress-danger-sm d-inline-block">
                                                <small></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--Second Row-->

    <div class="row">
        <div class="col-sm-12 col-lg-4">
            <div class="mb-3 card">
                <div class="card-header-tab card-header">

                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Pending Customer Approvals</div>
                    @*<div class="card-header-title font-size-lg text-capitalize font-weight-normal">Make an Appointment</div>*@

                    @*<div class="btn-actions-pane-right text-capitalize">
                            <button class="btn-wide btn-outline-2x btn btn-outline-primary btn-sm">View All</button>
                        </div>*@


                </div>
                @*<div class="card-body" style="position: relative;">
                        <div id="chart-col-3" style="min-height: 200px;"><div id="apexcharts1u64srkl" class="apexcharts-canvas apexcharts1u64srkl" style="width: 333px; height: 200px;"><svg id="SvgjsSvg6037" width="333" height="200" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG6039" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs6038"><clipPath id="gridRectMask1u64srkl"><rect id="SvgjsRect6043" width="335" height="202" x="-1" y="-1" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect></clipPath><clipPath id="gridRectMarkerMask1u64srkl"><rect id="SvgjsRect6044" width="347" height="214" x="-7" y="-7" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect></clipPath><linearGradient id="SvgjsLinearGradient6051" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop6052" stop-opacity="0.65" stop-color="rgba(0,143,251,0.65)" offset="0"></stop><stop id="SvgjsStop6053" stop-opacity="0.5" stop-color="rgba(128,199,253,0.5)" offset="1"></stop><stop id="SvgjsStop6054" stop-opacity="0.5" stop-color="rgba(128,199,253,0.5)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient6060" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop6061" stop-opacity="0.65" stop-color="rgba(0,227,150,0.65)" offset="0"></stop><stop id="SvgjsStop6062" stop-opacity="0.5" stop-color="rgba(128,241,203,0.5)" offset="1"></stop><stop id="SvgjsStop6063" stop-opacity="0.5" stop-color="rgba(128,241,203,0.5)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient6069" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop6070" stop-opacity="0.65" stop-color="rgba(254,176,25,0.65)" offset="0"></stop><stop id="SvgjsStop6071" stop-opacity="0.5" stop-color="rgba(255,216,140,0.5)" offset="1"></stop><stop id="SvgjsStop6072" stop-opacity="0.5" stop-color="rgba(255,216,140,0.5)" offset="1"></stop></linearGradient></defs><rect id="SvgjsRect6042" width="1" height="200" x="18" y="0" rx="0" ry="0" fill="#b1b9c4" opacity="1" stroke-width="0" stroke-dasharray="0" class="apexcharts-xcrosshairs" filter="none" fill-opacity="0.9"></rect><g id="SvgjsG6074" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG6075" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g></g><g id="SvgjsG6080" class="apexcharts-grid"><line id="SvgjsLine6082" x1="0" y1="200" x2="333" y2="200" stroke="transparent" stroke-dasharray="0"></line><line id="SvgjsLine6081" x1="0" y1="1" x2="0" y2="200" stroke="transparent" stroke-dasharray="0"></line></g><g id="SvgjsG6046" class="apexcharts-area-series apexcharts-plot-series"><g id="SvgjsG6065" class="apexcharts-series Free-Cash-Flow" data:longestSeries="true" rel="3" data:realIndex="2"><path id="apexcharts-area-2" d="M 18.5 170C 31.45 170 42.55 158 55.5 158C 68.45 158 79.55 168 92.5 168C 105.45 168 116.55 188 129.5 188C 142.45 188 153.55 150 166.5 150C 179.45 150 190.55 144 203.5 144C 216.45 144 227.55 136 240.5 136C 253.45 136 264.55 134 277.5 134C 290.45 134 301.55 158 314.5 158" fill="none" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="2" clip-path="url(#gridRectMask1u64srkl)" pathTo="M 18.5 170C 31.45 170 42.55 158 55.5 158C 68.45 158 79.55 168 92.5 168C 105.45 168 116.55 188 129.5 188C 142.45 188 153.55 150 166.5 150C 179.45 150 190.55 144 203.5 144C 216.45 144 227.55 136 240.5 136C 253.45 136 264.55 134 277.5 134C 290.45 134 301.55 158 314.5 158" pathFrom="M -1 240L -1 240L 55.5 240L 92.5 240L 129.5 240L 166.5 240L 203.5 240L 240.5 240L 277.5 240L 314.5 240"></path><path id="apexcharts-area-2" d="M 18.5 200L 18.5 170C 31.45 170 42.55 158 55.5 158C 68.45 158 79.55 168 92.5 168C 105.45 168 116.55 188 129.5 188C 142.45 188 153.55 150 166.5 150C 179.45 150 190.55 144 203.5 144C 216.45 144 227.55 136 240.5 136C 253.45 136 264.55 134 277.5 134C 290.45 134 301.55 158 314.5 158C 314.5 158 314.5 158 314.5 200M 314.5 158z" fill="url(#SvgjsLinearGradient6069)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="2" clip-path="url(#gridRectMask1u64srkl)" pathTo="M 18.5 200L 18.5 170C 31.45 170 42.55 158 55.5 158C 68.45 158 79.55 168 92.5 168C 105.45 168 116.55 188 129.5 188C 142.45 188 153.55 150 166.5 150C 179.45 150 190.55 144 203.5 144C 216.45 144 227.55 136 240.5 136C 253.45 136 264.55 134 277.5 134C 290.45 134 301.55 158 314.5 158C 314.5 158 314.5 158 314.5 200M 314.5 158z" pathFrom="M -1 240L -1 240L 55.5 240L 92.5 240L 129.5 240L 166.5 240L 203.5 240L 240.5 240L 277.5 240L 314.5 240"></path><g id="SvgjsG6066" class="apexcharts-series-markers-wrap"><g class="apexcharts-series-markers"><circle id="SvgjsCircle6088" r="0" cx="18.5" cy="170" class="apexcharts-marker w0g9ymt4kk no-pointer-events" stroke="#ffffff" fill="#feb019" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g><g id="SvgjsG6067" class="apexcharts-datalabels"></g></g><g id="SvgjsG6056" class="apexcharts-series Revenue" data:longestSeries="true" rel="2" data:realIndex="1"><path id="apexcharts-area-1" d="M 18.5 88C 31.45 88 42.55 70 55.5 70C 68.45 70 79.55 38 92.5 38C 105.45 38 116.55 44 129.5 44C 142.45 44 153.55 66 166.5 66C 179.45 66 190.55 30 203.5 30C 216.45 30 227.55 58 240.5 58C 253.45 58 264.55 12 277.5 12C 290.45 12 301.55 52 314.5 52" fill="none" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="1" clip-path="url(#gridRectMask1u64srkl)" pathTo="M 18.5 88C 31.45 88 42.55 70 55.5 70C 68.45 70 79.55 38 92.5 38C 105.45 38 116.55 44 129.5 44C 142.45 44 153.55 66 166.5 66C 179.45 66 190.55 30 203.5 30C 216.45 30 227.55 58 240.5 58C 253.45 58 264.55 12 277.5 12C 290.45 12 301.55 52 314.5 52" pathFrom="M -1 240L -1 240L 55.5 240L 92.5 240L 129.5 240L 166.5 240L 203.5 240L 240.5 240L 277.5 240L 314.5 240"></path><path id="apexcharts-area-1" d="M 18.5 200L 18.5 88C 31.45 88 42.55 70 55.5 70C 68.45 70 79.55 38 92.5 38C 105.45 38 116.55 44 129.5 44C 142.45 44 153.55 66 166.5 66C 179.45 66 190.55 30 203.5 30C 216.45 30 227.55 58 240.5 58C 253.45 58 264.55 12 277.5 12C 290.45 12 301.55 52 314.5 52C 314.5 52 314.5 52 314.5 200M 314.5 52z" fill="url(#SvgjsLinearGradient6060)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="1" clip-path="url(#gridRectMask1u64srkl)" pathTo="M 18.5 200L 18.5 88C 31.45 88 42.55 70 55.5 70C 68.45 70 79.55 38 92.5 38C 105.45 38 116.55 44 129.5 44C 142.45 44 153.55 66 166.5 66C 179.45 66 190.55 30 203.5 30C 216.45 30 227.55 58 240.5 58C 253.45 58 264.55 12 277.5 12C 290.45 12 301.55 52 314.5 52C 314.5 52 314.5 52 314.5 200M 314.5 52z" pathFrom="M -1 240L -1 240L 55.5 240L 92.5 240L 129.5 240L 166.5 240L 203.5 240L 240.5 240L 277.5 240L 314.5 240"></path><g id="SvgjsG6057" class="apexcharts-series-markers-wrap"><g class="apexcharts-series-markers"><circle id="SvgjsCircle6089" r="0" cx="18.5" cy="88" class="apexcharts-marker wfde0kvit no-pointer-events" stroke="#ffffff" fill="#00e396" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g><g id="SvgjsG6058" class="apexcharts-datalabels"></g></g><g id="SvgjsG6047" class="apexcharts-series Net-Profit" data:longestSeries="true" rel="1" data:realIndex="0"><path id="apexcharts-area-0" d="M 18.5 152C 31.45 152 42.55 130 55.5 130C 68.45 130 79.55 126 92.5 126C 105.45 126 116.55 128 129.5 128C 142.45 128 153.55 118 166.5 118C 179.45 118 190.55 124 203.5 124C 216.45 124 227.55 114 240.5 114C 253.45 114 264.55 120 277.5 120C 290.45 120 301.55 108 314.5 108" fill="none" fill-opacity="1" stroke="transparent" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMask1u64srkl)" pathTo="M 18.5 152C 31.45 152 42.55 130 55.5 130C 68.45 130 79.55 126 92.5 126C 105.45 126 116.55 128 129.5 128C 142.45 128 153.55 118 166.5 118C 179.45 118 190.55 124 203.5 124C 216.45 124 227.55 114 240.5 114C 253.45 114 264.55 120 277.5 120C 290.45 120 301.55 108 314.5 108" pathFrom="M -1 240L -1 240L 55.5 240L 92.5 240L 129.5 240L 166.5 240L 203.5 240L 240.5 240L 277.5 240L 314.5 240"></path><path id="apexcharts-area-0" d="M 18.5 200L 18.5 152C 31.45 152 42.55 130 55.5 130C 68.45 130 79.55 126 92.5 126C 105.45 126 116.55 128 129.5 128C 142.45 128 153.55 118 166.5 118C 179.45 118 190.55 124 203.5 124C 216.45 124 227.55 114 240.5 114C 253.45 114 264.55 120 277.5 120C 290.45 120 301.55 108 314.5 108C 314.5 108 314.5 108 314.5 200M 314.5 108z" fill="url(#SvgjsLinearGradient6051)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMask1u64srkl)" pathTo="M 18.5 200L 18.5 152C 31.45 152 42.55 130 55.5 130C 68.45 130 79.55 126 92.5 126C 105.45 126 116.55 128 129.5 128C 142.45 128 153.55 118 166.5 118C 179.45 118 190.55 124 203.5 124C 216.45 124 227.55 114 240.5 114C 253.45 114 264.55 120 277.5 120C 290.45 120 301.55 108 314.5 108C 314.5 108 314.5 108 314.5 200M 314.5 108z" pathFrom="M -1 240L -1 240L 55.5 240L 92.5 240L 129.5 240L 166.5 240L 203.5 240L 240.5 240L 277.5 240L 314.5 240"></path><g id="SvgjsG6048" class="apexcharts-series-markers-wrap"><g class="apexcharts-series-markers"><circle id="SvgjsCircle6090" r="0" cx="18.5" cy="152" class="apexcharts-marker wym87f8p5 no-pointer-events" stroke="#ffffff" fill="#008ffb" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g><g id="SvgjsG6049" class="apexcharts-datalabels"></g></g></g><line id="SvgjsLine6083" x1="0" y1="0" x2="333" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine6084" x1="0" y1="0" x2="333" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG6085" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG6086" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG6087" class="apexcharts-point-annotations"></g></g><g id="SvgjsG6076" class="apexcharts-yaxis" rel="0" transform="translate(-32.015625, 0)"><g id="SvgjsG6077" class="apexcharts-yaxis-texts-g"></g><g id="SvgjsG6078" class="apexcharts-yaxis-title"><text id="SvgjsText6079" font-family="Helvetica, Arial, sans-serif" x="38.8046875" y="100" text-anchor="end" dominate-baseline="central" font-size="11px" fill="#373d3f" class="apexcharts-yaxis-title-text apexcharts-yaxis-title" style="font-family: Helvetica, Arial, sans-serif;" transform="rotate(-90 5.34375 96.3984375)">$ (thousands)</text></g></g></svg><div class="apexcharts-legend"></div><div class="apexcharts-tooltip light" style="left: 29px; top: 51.2px;"><div class="apexcharts-tooltip-title">Feb</div><div class="apexcharts-tooltip-series-group active" style="display: flex;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(0, 143, 251);"></span><div class="apexcharts-tooltip-text"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label">Net Profit: </span><span class="apexcharts-tooltip-text-value">$ 44 thousands</span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group active" style="display: flex;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(0, 227, 150);"></span><div class="apexcharts-tooltip-text"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label">Revenue: </span><span class="apexcharts-tooltip-text-value">$ 76 thousands</span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group active" style="display: flex;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(254, 176, 25);"></span><div class="apexcharts-tooltip-text"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label">Free Cash Flow: </span><span class="apexcharts-tooltip-text-value">$ 35 thousands</span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div></div></div>
                        <div class="resize-triggers"><div class="expand-trigger"><div style="width: 374px; height: 241px;"></div></div><div class="contract-trigger"></div></div>
                    </div>*@

                <div class="p-0 d-block card-footer">
                    <div class="grid-menu grid-menu-2col">

                        <div class="no-gutters row  padbox">
                            <div class="p-2 col-sm-6">
                                <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-success">
                                    <i class="lnr-menu text-success opacity-7 btn-icon-wrapper mb-2"> </i>Need Approvals
                                    @*<i class="fa fa-fw" aria-hidden="true" title="Copy to use address-card"></i>New Appointments*@
                                </button>
                            </div>
                            <div class="p-2 col-sm-6">
                                <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-warning">
                                    <i class="lnr-hourglass text-warning opacity-7 btn-icon-wrapper mb-2"> </i>Approved User
                                </button>
                            </div>
                            <div class="p-2 col-sm-6">
                                <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-info">
                                    <i class="lnr-book text-info opacity-7 btn-icon-wrapper mb-2"> </i>Verified User
                                </button>
                            </div>
                            <div class="p-2 col-sm-6">
                                <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-alternate">
                                    <i class="lnr-gift text-alternate opacity-7 btn-icon-wrapper mb-2"> </i>Unverified User
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-lg-8">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-primary card">
                        <div class="widget-chat-wrapper-outer">
                            <div class="widget-chart-content">
                                <div class="widget-title opacity-10 text-uppercase">
                                    <a href="~/Appointments/Create">
                                        <i class="widget-title opacity-10 text-uppercase">Make New Appointment</i>
                                    </a>
                                </div>
                                <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                                    <div class="widget-chart-flex align-items-center">
                                        <div>
                                            <small class="opacity-10 text-primary pr-2">+</small>
                                            34
                                            <small class="opacity-5 pl-1">..</small>
                                        </div>-->
        @*<div>
                <span class="opacity-10 text-success pr-2">
                    <i class="fa fa-angle-up"></i>
                </span>
                234
                <small class="opacity-5 pl-1">%</small>
            </div>*@
        <!--<div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                    <div class="circle-progress circle-progress-gradient-alt-sm d-inline-block">
                                        <small></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-primary card">
                <div class="widget-chat-wrapper-outer">
                    <div class="widget-chart-content">
                        <div class="widget-title opacity-10 text-uppercase">
                            <a href="~/Appointments/Create">
                                <i class="widget-title opacity-10 text-uppercase">Make New Appointment</i>
                            </a>
                        </div>
                        <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                            <div class="widget-chart-flex align-items-center">
                                <div>
                                    <small class="opacity-10 text-primary pr-2">+</small>
                                    34
                                    <small class="opacity-5 pl-1">..</small>
                                </div>-->
        @*<div>
                <span class="opacity-10 text-success pr-2">
                    <i class="fa fa-angle-up"></i>
                </span>
                234
                <small class="opacity-5 pl-1">%</small>
            </div>*@
        <!--<div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                    <div class="circle-progress circle-progress-gradient-alt-sm d-inline-block">
                                        <small></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-warning border-warning card">
                <div class="widget-chat-wrapper-outer">
                    <div class="widget-chart-content">
                        <div class="widget-title opacity-10 text-uppercase">
                            <a href="~/Appointments/Active">
                                <i class="widget-title opacity-10 text-uppercase text-warning">Completed Appointments</i>
                            </a>
                        </div>-->
        @*<div class="widget-title opacity-5 text-uppercase">Company Value</div>*@
        <!--<div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
            <div class="widget-chart-flex align-items-center">
                <div>
                    <small class="opacity-5 text-warning pr-1">+</small>
                    34
                    <small class="opacity-5 pl-1">..</small>
                </div>-->
        @*<div>
                <small class="opacity-5 pr-1">$</small>
                1,45M
            </div>*@
        <!--<div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                    <div class="circle-progress circle-progress-warning-sm d-inline-block">
                                        <small></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-danger border-danger card">
                <div class="widget-chat-wrapper-outer">
                    <div class="widget-chart-content">
                        <div class="widget-title opacity-10 text-uppercase">
                            <a href="~/Appointments/Active">
                                <i class="widget-title opacity-10 text-uppercase text-danger">Cancel Appointments</i>
                            </a>
                        </div>
                        <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                            <div class="widget-chart-flex align-items-center">
                                <div>
                                    <small class="opacity-10 text-danger pr-2">+</small>
                                    74
                                    <small class="opacity-5 pl-1">..</small>
                                </div>-->
        @*<div>
                <span class="opacity-10 text-danger pr-2">
                    <i class="fa fa-angle-down"></i>
                </span>
                71
                <small class="opacity-5 pl-1">..</small>
            </div>*@
        <!--<div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                            <div class="circle-progress circle-progress-danger-sm d-inline-block">
                                                <small></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>-->
    </div>


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />













    <div class="tabs-animation">
        <div class="row">
            <div class="col-lg-12 col-xl-3">
                <div class="main-card mb-3 card">
                    <div class="grid-menu grid-menu-2col">
                        <div class="no-gutters row">
                            <!--New Appointment-->
                            <div class="col-sm-12">
                                <div class="widget-chart widget-chart-hover">
                                    <a href="~/Customer/AddCustomer">
                                        <br />
                                        <div class="icon-wrapper rounded-circle">
                                            <br />
                                            <div class="icon-wrapper-bg bg-success"></div>
                                            <i class="lnr-user icon-gradient bg-ripe-malin"></i>
                                        </div>
                                        @*<div class="font-icon-wrapper font-icon-lg">
                                            <i class="lnr-user icon-gradient bg-ripe-malin"> </i>
                                            </div>*@

                                        <div class="widget-title opacity-10 text-uppercase">
                                            <br />
                                            <i class="metismenu-icon "> </i>Add Customer
                                        </div>

                                        @*<div class="widget-description text-success">
                                                <span class="pl-1"> </span>
                                            </div>*@
                                        <br /><br />
                                        <div class="widget-chart-wrapper ">
                                            <div id="dashboard-sparkline-3"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-xl-3">
                <div class="main-card mb-3 card ">
                    <div class="grid-menu grid-menu-2col">
                        <div class="no-gutters row">
                            <!--Active Appointment-->
                            <div class="col-sm-12">
                                <div class="widget-chart widget-chart-hover">
                                    <a href="~/Customer/Index">
                                        <br />
                                        <div class="icon-wrapper rounded-circle">
                                            <br />
                                            <div class="icon-wrapper-bg bg-info"></div>
                                            <i class="lnr-database icon-gradient bg-night-fade"></i>
                                        </div>
                                        @*<div class="font-icon-wrapper font-icon-lg">
                                               <i class="lnr-database icon-gradient bg-night-fade"> </i>
                                            </div>*@
                                        @*<div class="widget-subheading fsize-1 pt-2 opacity-10 text-info font-weight-bold">*@
                                        <div class="widget-title opacity-10 text-uppercase">
                                            <br />
                                            @*<i class="metismenu-icon pr-1"></i> Active Appointment*@

                                            <i class="metismenu-icon pr-1"></i>Customer List
                                        </div>
                                        @*<div class="widget-description text-success">
                                                <span class="pl-1"> </span>
                                            </div>*@
                                        <br /><br />
                                        <div class="widget-chart-wrapper">
                                            <div id="dashboard-sparklines-simple-3"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-3">
            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-primary card">
                <div class="widget-chat-wrapper-outer">
                    <div class="widget-chart-content">
                        <div class="widget-title opacity-10 text-uppercase">
                            <a href="~/Appointments/Create">
                                <i class="widget-title opacity-10 text-uppercase">Make New Appointment</i>
                            </a>
                        </div>
                        <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                            <div class="widget-chart-flex align-items-center">
                                <div>
                                    <small class="opacity-10 text-primary pr-2">+</small>
                                    34
                                    <small class="opacity-5 pl-1">..</small>
                                </div>
                                @*<div>
                                        <span class="opacity-10 text-success pr-2">
                                            <i class="fa fa-angle-up"></i>
                                        </span>
                                        234
                                        <small class="opacity-5 pl-1">%</small>
                                    </div>*@
                                <div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                                    <div class="circle-progress circle-progress-gradient-alt-sm d-inline-block">
                                        <small></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*<svg id="SvgjsSvg2466" width="373" height="350" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG2468" class="apexcharts-inner apexcharts-graphical" transform="translate(39, 20)"><defs id="SvgjsDefs2467"><clipPath id="gridRectMask228wycaf"><rect id="SvgjsRect2469" width="297" height="297" x="-1" y="-1" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect></clipPath><clipPath id="gridRectMarkerMask228wycaf"><rect id="SvgjsRect2470" width="303" height="303" x="-4" y="-4" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0">
                                         </rect></clipPath><linearGradient id="SvgjsLinearGradient2476" x1="0" y1="1" x2="1" y2="1">
        <stop id="SvgjsStop2477" stop-opacity="1" stop-color="rgba(171,229,161,1)" offset="0"></stop>
        <stop id="SvgjsStop2478" stop-opacity="1" stop-color="rgba(255,255,255,1)" offset="1"></stop>
        <stop id="SvgjsStop2479" stop-opacity="1" stop-color="rgba(255,255,255,1)" offset="1"></stop>
                                             </linearGradient>
        <filter id="SvgjsFilter2482" filterUnits="userSpaceOnUse">
        <feFlood id="SvgjsFeFlood2483" flood-color="black" flood-opacity="0.35" result="SvgjsFeFlood2483Out" in="SourceGraphic"></feFlood>
        <feComposite id="SvgjsFeComposite2484" in="SvgjsFeFlood2483Out" in2="SourceAlpha" operator="in" result="SvgjsFeComposite2484Out">
            </feComposite>
        <feOffset id="SvgjsFeOffset2485" dx="0" dy="-3" result="SvgjsFeOffset2485Out" in="SvgjsFeComposite2484Out"></feOffset>
        <feGaussianBlur id="SvgjsFeGaussianBlur2486" stdDeviation="4 " result="SvgjsFeGaussianBlur2486Out" in="SvgjsFeOffset2485Out">
            </feGaussianBlur>
        <feMerge id="SvgjsFeMerge2487" result="SvgjsFeMerge2487Out" in="SourceGraphic">
            <feMergeNode id="SvgjsFeMergeNode2488" in="SvgjsFeGaussianBlur2486Out"></feMergeNode>
            <feMergeNode id="SvgjsFeMergeNode2489" in="[object Arguments]"></feMergeNode></feMerge>
        <feBlend id="SvgjsFeBlend2490" in="SourceGraphic" in2="SvgjsFeMerge2487Out" mode="normal" result="SvgjsFeBlend2490Out">

        </feBlend>
            </filter><filter id="SvgjsFilter2494" filterUnits="userSpaceOnUse">
        <feFlood id="SvgjsFeFlood2495" flood-color="black" flood-opacity="0.24" result="SvgjsFeFlood2495Out" in="SourceGraphic"></feFlood>
        <feComposite id="SvgjsFeComposite2496" in="SvgjsFeFlood2495Out" in2="SourceAlpha" operator="in" result="SvgjsFeComposite2496Out">
            </feComposite>
        <feOffset id="SvgjsFeOffset2497" dx="0" dy="3" result="SvgjsFeOffset2497Out" in="SvgjsFeComposite2496Out"></feOffset>
        <feGaussianBlur id="SvgjsFeGaussianBlur2498" stdDeviation="4 " result="SvgjsFeGaussianBlur2498Out" in="SvgjsFeOffset2497Out">
            </feGaussianBlur><feMerge id="SvgjsFeMerge2499" result="SvgjsFeMerge2499Out" in="SourceGraphic">
        <feMergeNode id="SvgjsFeMergeNode2500" in="SvgjsFeGaussianBlur2498Out"></feMergeNode>
        <feMergeNode id="SvgjsFeMergeNode2501" in="[object Arguments]"></feMergeNode></feMerge>
        <feBlend id="SvgjsFeBlend2502" in="SourceGraphic" in2="SvgjsFeMerge2499Out" mode="normal" result="SvgjsFeBlend2502Out"></feBlend>
                </filter><linearGradient id="SvgjsLinearGradient2507" x1="0" y1="1" x2="1" y2="1"><stop id="SvgjsStop2508" stop-opacity="1" stop-color="rgba(171,229,161,1)" offset="0"></stop><stop id="SvgjsStop2509" stop-opacity="1" stop-color="rgba(0,143,251,1)" offset="1"></stop><stop id="SvgjsStop2510" stop-opacity="1" stop-color="rgba(0,143,251,1)" offset="1"></stop></linearGradient></defs>
        <g id="SvgjsG2472" class="apexcharts-radialbar"><g id="SvgjsG2473"><g id="SvgjsG2474"><g id="apexcharts-track-0" class="apexcharts-radialbar-track apexcharts-track" rel="1">
        <path id="apexcharts-radialbarTrack-0" d="M 66.58197679731452 238.41802320268545 A 114.43536585365857 114.43536585365857 0 1 1 66.72332856368857 238.55912847872764" fill="none" fill-opacity="1" stroke="rgba(255,255,255,0.85)" stroke-opacity="1" stroke-linecap="round" stroke-width="14.839682926829273" stroke-dasharray="0" class="apexcharts-radialbar-area" filter="url(#SvgjsFilter2482)" data:pathOrig="M 66.58197679731452 238.41802320268545 A 114.43536585365857 114.43536585365857 0 1 1 66.72332856368857 238.55912847872764"></path></g></g><g id="SvgjsG2491"><g id="apexcharts-series-0" class="apexcharts-series apexcharts-radial-series Percent" rel="1"><path id="apexcharts-radialArc-0" d="M 66.58197679731452 238.41802320268545 A 114.43536585365857 114.43536585365857 0 1 1 228.41802320268545 238.41802320268545" fill="none" fill-opacity="0.85" stroke="url(#SvgjsLinearGradient2507)" stroke-opacity="1" stroke-linecap="round" stroke-width="22.148780487804885" stroke-dasharray="0" class="apexcharts-radialbar-area" data:angle="270" data:value="75" data:pathOrig="M 66.58197679731452 238.41802320268545 A 114.43536585365857 114.43536585365857 0 1 1 228.41802320268545 238.41802320268545"></path></g><circle id="SvgjsCircle2492" r="107.01552439024393" cx="147.5" cy="157.5" class="apexcharts-radialbar-hollow" fill="#ffffff" filter="url(#SvgjsFilter2494)"></circle><g id="SvgjsG2503" class="apexcharts-datalabels-group" transform="translate(0, 0)" style="opacity: 1;"><text id="SvgjsText2504" font-family="Helvetica, Arial, sans-serif" x="147.5" y="147.5" text-anchor="middle" dominate-baseline="central" font-size="17px" fill="#888888" class="apexcharts-datalabel-label" style="font-family: Helvetica, Arial, sans-serif;">Percent</text>
        <text id="SvgjsText2505" font-family="Helvetica, Arial, sans-serif" x="147.5" y="189.5" text-anchor="middle" dominate-baseline="central" font-size="36px" fill="#111111" class="apexcharts-datalabel-value" style="font-family: Helvetica, Arial, sans-serif;">75</text></g></g></g></g><line id="SvgjsLine2512" x1="0" y1="0" x2="295" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine2513" x1="0" y1="0" x2="295" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line></g></svg>*@




    @*<div class="widget-content pt-0 w-100">
            <div class="widget-content-outer">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left pr-2 fsize-1">
                        <div class="widget-numbers mt-0 fsize-3 text-warning">32%</div>
                    </div>
                    <div class="widget-content-right w-100">
                        <div class="progress-bar-xs progress">
                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-content-left fsize-1">
                    <div class="text-muted opacity-6">Spendings Target</div>
                </div>
            </div>
        </div>*@


    <!--<div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-warning border-warning card">
    <div class="widget-chat-wrapper-outer">
        <div class="widget-chart-content">
            <div class="widget-title opacity-5 text-uppercase">Company Value</div>
            <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                <div class="widget-chart-flex align-items-center">-->
    @*<div>
            <small class="opacity-5 pr-1">$</small>
            1,45M
        </div>*@
    <!--<div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">
                            <div class="circle-progress circle-progress-warning-sm d-inline-block">
                                <canvas width="57" height="57" style="height: 46px; width: 46px;"></canvas>
                                <small><span>72<span></span></span></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!--Customer underline modules-->
    <!--<div class="tabs-animation">-->
    <!--Add Customer-->
    <!--<div class="row">
            <div class="col-lg-6 col-xl-4">
                <div class="mb-3 card">
                    <div class="card-header-tab card-header">

                        <a href="~/Customer/AddCustomer">
                            <i class="metismenu-icon"> </i>Add Customer
                        </a>
                    </div>
                    <div class="widget-chart widget-chart2 text-left p-0">
                        <div class="widget-chat-wrapper-outer">
                            <div class="widget-chart-content widget-chart-content-lg">
                                <div class="widget-chart-flex">
                                    <div class="widget-title opacity-5 text-muted text-uppercase">Welcome Clients</div>
                                </div>
                                <div class="widget-numbers">
                                    <div class="widget-chart-flex">
                                        <div>
                                            <span class="opacity-10 text-success pr-2">
                                                <i class="fa fa-angle-up"></i>
                                            </span>
                                            <span>9</span>
                                            <small class="opacity-5 pl-1">%</small>
                                        </div>
                                        <div class="widget-title ml-2 font-size-lg font-weight-normal text-muted">
                                            <span class="text-secondary pl-2">+86% Success</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-chart-wrapper widget-chart-wrapper-xlg opacity-10 m-0">
                                <div id="dashboard-sparkline-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-xl-4">
                <div class="mb-3 card">
                    <div class="card-header-tab card-header">

                        <a href="~/Customer/Index">
                            <i class="metismenu-icon"></i>Customer List
                        </a>
                    </div>
                    <div class="widget-chart widget-chart2 text-left p-0">
                        <div class="widget-chat-wrapper-outer">
                            <div class="widget-chart-content widget-chart-content-lg">
                                <div class="widget-chart-flex">
                                    <div class="widget-title opacity-5 text-muted text-uppercase">
                                        Our Customers
                                    </div>
                                </div>
                                <div class="widget-numbers">
                                    <div class="widget-chart-flex">
                                        <div>
                                            <span class="opacity-10 text-warning pr-2">
                                                <i class="fa fa-dot-circle"></i>
                                            </span>
                                            <span>Our Pride</span>
                                        </div>
                                        <div class="widget-title ml-2 font-size-lg font-weight-normal text-muted">
                                            <span class="text-success pl-2">+14</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-chart-wrapper widget-chart-wrapper-xlg opacity-10 m-0">
                                <div id="dashboard-sparkline-2"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>




            <div class="text-center mbg-3">
                    <button class="btn-wide btn-pill btn-shadow fsize-1 btn btn-focus btn-lg">
                        <span class="mr-2 opacity-7">
                            <i class="icon icon-anim-pulse ion-ios-analytics-outline"></i>
                        </span>
                        View Complete Report
                    </button>
                </div>

    </div>-->
